[2016-01-13 06:39] systopia commented on #354
Well, my plan was to release @scardinius' changes with CiviSEPA 1.3, which would then only be compatible with CiviCRM 4.6+. What do you think?

[2016-01-13 06:44] systopia commented on #356
Yes, we definitely need to change this asap. I didn't know that was in there.

@tttp: This is still some of your code, right? Can you remember why you included this in the first place?

[2016-01-13 09:46] tttp commented on #354
on my side, no one is left on 4.4, so fine

Might be cleaner to make a branch 4.4-obsoleted just before the merge, so
if there is someone left on 4.4, it might be easier for them to take over
the maintenance of that branch if so they choose.

On 13 January 2016 at 07:39, SYSTOPIA <notifications@github.com> wrote:

[2016-01-13 11:43] systopia commented on #354
Hm, yes. Technically, that would be the ``1.2.x`` branch that's already there. The ``master`` already has the 4.4 version removed from the compatibility list in the info.xml

[2016-01-14 18:10] systopia commented on #350
It's possible that Niko's hotfix doesn't work on you environment (Joomla?). Have you tried executing the JS commands in the console? If it works you can just dump them as a JS script in the HTML page header or footer of your donation page...

[2016-01-14 21:25] intombi commented on #350
Executing the JS commands in the console worked! Thanks

[2016-01-15 11:33] systopia opened #357 "Cannot edit FRST contributions"
Since CiviSEPA 1.1 the ``validate_form`` makes sure you don't change a SEPA contribution's payment instrument, since it would break the logic.

However, there's a bug in the validation: once the mandate has turned to status 'RCUR', the 'FRST' contribution cannot be changed any more...

[2016-01-15 12:09] magnolia61 commented on #356
When I remove /templates/CRM/Contribute/Form/ContributionView.tpl from CiviSEPA the invoice buttons return and I still get the button with the mandate options in civicrm 4.6.9. Happy with that!
So unless Xavier remembers the initial inclusion I believe it is safe to delete this file.

[2016-01-15 13:31] tttp commented on #356
I think I remember and was a temporary fix... that has long been fixed in
the core and is past its due date indeed.

One less file, me like it!

On 15 January 2016 at 13:09, Richard van Oosterhout <
notifications@github.com> wrote:

[2016-01-15 16:32] systopia commented on #356
aaaand it's gone. Makes *me* happy as well :)

[2016-01-18 07:43] systopia commented on #354
@tttp Can I close this, or do you want to mark the ``1.2.x`` branch explicitly as "last 4.4" or something?

[2016-01-18 07:48] #354 closed

[2016-01-19 09:26] systopia opened #358 "Mandate reports"
We want three reports:
 * Generic (on mandate metadata)
 * OOFF (only focusing in the contribution's attributes)
 * RCUR (adding a lot of aggregated values like "contribution count", "total amount transferred", "cancelled contribution count", "cancel reason")

[2016-01-21 06:49] systopia opened #359 "contact_id not set in partial mandate"
Under certain circumstances (not fully understood), the ``$this->getVar('_contactID');`` in  [this line](https://github.com/Project60/org.project60.sepa/blob/1.2.1/CRM/Core/Payment/SDD.php#L157) doesn't yield the contact id, which can cause troubles in the further processing in the partial mandates.

Observed with CiviSEPA 1.2.1 on CiviCRM 4.4.20 on a donation page for OOFF contributions.

[2016-01-21 08:34] tttp commented on #359
@systopia want me to see if it happens on other installations? Any quick way to identified "contactless" mandates?

[2016-01-21 09:02] systopia commented on #359
Yes, please :)

Unfortunately not, mandates w/o contacts will get fixed here: https://github.com/Project60/org.project60.sepa/blob/1.2.1/CRM/Core/Payment/SDD.php#L252

But the ``create_mandate`` mandate hook will be called w/o contact_id and potentially break things.

[2016-01-26 11:21] systopia commented on #333
merged to ``master`` and ``1.2.x``

[2016-01-26 11:21] #333 closed

[2016-01-26 11:22] systopia commented on #349
merged to ``master`` and ``1.2.x``

[2016-01-26 11:22] #349 closed

[2016-01-26 11:28] systopia commented on #342
merged to ``master`` and ``1.2.x``

[2016-01-26 11:28] #342 closed

[2016-01-26 11:31] systopia commented on #357
merged to ``master`` and ``1.2.x``

[2016-01-26 11:31] #357 closed

[2016-01-26 11:46] systopia commented on #359
merged to ``1.2.x``. Won't merge to ``master``, is most likely problem with CiviCRM 4.4.x

[2016-01-26 11:46] #359 closed

[2016-01-26 12:26] magnolia61 commented on #348
Update from the Jira issue (https://issues.civicrm.org/jira/browse/CRM-17603) on this from Alan:
*You can override the "requiredness" by overriding the payment object method "getMandatoryFields" which by default just looks in the is_required value of the corresponding field. Or you can use the form alter hook to remove that is_required value.*

[2016-02-01 12:51] systopia commented on #344
@tttp: I just committed your fix to ``master`` and ``1.2.x``

[2016-02-01 12:51] #344 closed

[2016-02-01 13:07] systopia commented on #309
seems to be fine with https://github.com/Project60/org.project60.sepa/commit/2562675881a8920977d26b4e8a0f5c4f9987a8a3. Will re-open if there's problems.

[2016-02-01 13:07] #309 closed

[2016-02-01 14:52] systopia commented on #307
since #333 is fixed and will be released soon, I'll close this.

[2016-02-01 14:52] #307 closed

[2016-02-02 16:44] systopia opened #367 "Improve BIC extension detection"
Detecting whether the BIC extension is installed triggers a warning under CiviCRM 4.6. This should be fixed.

[2016-02-02 16:57] systopia opened #368 "'Mark received' button closes *all* contributions"
The 'mark received' button for sent SEPA groups will set all contained contributions to status 'completed'. This is fine, while you stick to the intended workflow:
 1. Before doing anything else, you mark the group as received.
 2. Then you can record cancellations and failures

If you don't stick to this process, the 'mark received' process will override your cancelled contributions' statuses.

W

[2016-02-03 09:24] systopia commented on #302
Sorry, I rejected PR #300 because we don't want yet another library. The best way IMHO would be to offer IBAN validation on the API and use that with AJAX.

[2016-02-03 09:48] systopia commented on #348
In response to Alan:

That's only available from CiviCRM 4.7+, see #351

That seems rather "hacky" to me, and I wouldn't want to put that in a general extension.

[2016-02-09 10:19] systopia opened #371 "Add multi currency functionality"
@scardinius wants to add multi-currency functionality for a Polish scenario.The development is currently in https://github.com/Project60/org.project60.sepa/tree/dev_361, see also:
- PR https://github.com/Project60/org.project60.sepa/pull/361
- PR https://github.com/Project60/org.project60.sepa/pull/369
- PR https://github.com/Project60/org.project60.sepa/pull/370

[2016-02-09 10:23] systopia commented on #371
@scardinius: I pulled your PRs into https://github.com/Project60/org.project60.sepa/tree/dev_361 and resolved some minor conflicts. I still have three more items I'd like to discuss:
 1. Why did you chose ``0010`` as the upgrader revision? Wouldn't it make sense to tie that to the extension version, i.e. ``0130`` for 1.3.0?
 2. When I said I wanted a setting, I was rather thinking about a checkbox

[2016-02-09 11:35] systopia commented on #348
New approach merged to ``1.2.x``. Will merge to ``master`` when tested and released.

[2016-02-09 11:35] systopia commented on #367
Usablitiy fixes merged to ``1.2.x``. Will merge to ``master`` when tested and released.

[2016-02-09 11:38] systopia commented on #368
Fix merged to ``1.2.x``. Will merge to ``master`` with #348

[2016-02-09 11:41] systopia commented on #253
fixed in ``1.2.x``. Won't fix for ``master`` (1.3) because of ticket #243

[2016-02-09 11:41] #253 closed

[2016-02-09 11:42] systopia commented on #277
merged to ``1.2.x``

[2016-02-11 16:40] systopia opened #372 "PaymentProcessor: override billing address mandatory"
With CiviCRM 4.6.10+ the billing address became mandatory for donation pages. However, there should be a way of overriding this, so people can use their donation pages the way they used to...

See also: [CRM-17603](https://issues.civicrm.org/jira/browse/CRM-17603)

[2016-02-12 09:41] bjendres opened #373 "Extension cannot be disabled when payment processor is active"
If you have an active SEPA payment processor, you cannot disable the extension without causing severe problems with the system.

This is more a problem with CiviCRM itself than with CiviSEPA extension: The payment processor contains the implementing class name, and that class is not available any more once the extension has been disabled. But instead of treating this like an "unknown implementatio

[2016-02-12 09:48] tttp commented on #373
In theory when disabling, you could replace the sepa class by  the one for the dummy payment processor (and put it back when enabling it).

but bit of a hack indeed...

[2016-02-12 10:06] systopia commented on #373
That's what I had in mind, too. But I haven't tested it yet...you?

[2016-02-12 10:16] tttp commented on #373
Why would I disable such an awesome extension? Quitters deserve a world of
pain, it's a feature, not a bug ;)

On 12 February 2016 at 11:06, SYSTOPIA <notifications@github.com> wrote:

[2016-02-12 10:57] michau commented on #373
@tttp True dat! ;-)

[2016-02-15 14:28] systopia opened #374 "Hook for creating installments"
When the batcher creates new installments of a recurring mandate, most of the contribution features are derived from the recurring contributions. However, there's a host of situations where this might not be enough, e.g.
 * connection to memberships (see #200, #204)
 * copying of custom fields
 * ...

We want to solve this by adding another hook, so people can provide custom code to deal with any

[2016-02-16 16:58] scardinius commented on #371
Hi @systopia

1. I agree `0130` is better value for revision.
2. I misunderstood you and @tttp. I hoped It will be better when I hide currency option at all.

[2016-02-18 12:04] scardinius commented on #371
Hi @systopia

I made PRs with required changes.

1. Change upgrader revision to 1.3.0
2. Rebuild checking if user needs multi currency mode.
    * Prior: hardcoded checking of external extension
    * Current: additional parameter `Multi currency mode (not only EUR)`, default false.

I hope This will be fine with you :-)

[2016-02-23 15:39] systopia commented on #372
fixed in ``1.2.2``. Will close ticket when merged to ``master``

[2016-02-23 15:40] systopia commented on #374
implemented in ``1.2.2.``, will close ticket when merged to ``master``

[2016-03-01 16:06] scardinius opened #380 "Contact page is blocked for scrolling after creating mandate"
Hi,

I found weird and interesting bug. After creating mandate, contact page is blocked for scrolling.
1. On Chrome _48.0.2564.116_ - I can't scroll by arrows, page up/down keys and mouse
2. On Firefox _44.0.2_ - I can't scroll only by mouse (arrows and page up/down keys works fine)

This bug occurs after click on both links `Record SEPA Contribution`:
- below `Action` button,
- on `Contributions`

[2016-03-07 12:42] bjendres opened #381 "Collection days setting not stored"
The list of collection days can currently only be stored as a default setting, the custom per-creditor-override doesn't work.

[2016-03-08 18:00] tttp opened #382 "Not possible to activate a mandate"
error (js): mandate_action_activate is not defined

[2016-03-14 14:44] tttp opened #383 "closing a OOFF group might end up closing unrelated mandates"
So interesting bug: we had a RCUR contribution that was never debited, and it seems that the mandate for RCUR was closed when we closed an (unrelated) OOFF contribution that had the same ID than the recurring contribution

@scardinius analysis
https://github.com/Project60/org.project60.sepa/blob/master/CRM/Sepa/Logic/Group.php#L56
we close all mandates, not only OOFF mandates

[2016-03-16 05:54] systopia opened #384 ""Last Mandate" Tokens"
Since CiviCRM hasn't yet implemented token hooks for contributions, a simple -yet unreliable- approach to accessing CiviSEPA mandates as tokens is to simply add the most recently created one.

[2016-03-17 11:16] systopia opened #385 "XML <EndToEndId> should be contribution ID"
In the PAIN file, there is an element called &lt;EndToEndId&gt;. I thought this was an ID we could choose freely to identify the actual contribution, so naturally I assumed it was the contribution ID. This seemed to be supported by the the code (see  [here](https://github.com/Project60/org.project60.sepa/blob/1.2.2.beta1/templates/CRM/Sepa/xml/TransactionGroup.tpl#L55) and [here](https://github.co

[2016-03-17 11:28] tttp commented on #385
Hi,

the mandate id is in <MndtId>. The end to end is supposed to be unique, but don't recall if it's unique per file or across all files.

Is there an issue to keep the contribution id?

[2016-03-17 11:36] systopia commented on #385
That's my point, &lt;EndToEndId&gt; is currently NOT the contribution ID, but the mandate ID. I'm asking whether you can see a problem in changing it to be the contribution ID...

[2016-03-17 12:05] tttp commented on #385
Sorry, I misread you. yes, contribution id is better then

[2016-03-17 12:22] systopia commented on #385
Ok, will change that in ``1.3`` then.

[2016-03-17 12:26] systopia commented on #373
I'll create an easy fix by setting ``civicrm_payment_processor.class_name`` to "Payment_Dummy" when disabling. When enabling we can restore the value, because the connection via ``payment_processor_type_id`` is still there....

[2016-03-18 12:44] magnolia61 commented on #348
Hi Bjorn, Is the 1.2.x branch still the one I need to use when I want to help test on 4.6.10 and 4.7.4?

[2016-03-18 12:48] systopia commented on #348
Yes, I'm only waiting for feedback on https://github.com/Project60/org.project60.sepa/releases/tag/1.2.2.beta1, but it's looking good.

4.7 might not work, they changed the payment processor structure *again*. Please post your findings!

[2016-03-18 13:21] magnolia61 commented on #372
when I use 1.2.2beta1 on civicrm 4.6.14 everything seems to work.
But I am still presented a billing address block which is mandatory.

[2016-03-18 13:30] magnolia61 commented on #348
When I use CiviSEPA 1.2.2beta1 on CiviCRM 4.6.14 on a donation form it works ok now. But when I use it in an event registration the Collection Day & Start Date have reappeared and the mandatory billing block still appears (despite the setting in civisepa settings). Probably easy fixes, not?

[2016-03-18 13:48] systopia commented on #372
Yes, event pages are not fully supported yet (no funding)

Thanks for testing!

[2016-03-18 13:49] systopia commented on #348
Maybe...event pages are not fully supported yet (no funding)

[2016-03-18 14:17] magnolia61 commented on #351
Some observations running in civicrm 4.7:
- When I try to go to the civisepa setting I get:
   Fatal error: Call to undefined method CRM_Core_Config::countryLimit()
- Updating a batch in the civisepa dashboard seems to go ok, but updating it a 2nd time gets:
  Notice: Undefined index: id in civicrm_extensions/org.project60.sepa/CRM/Sepa/Logic/Batching.php on line 433

[2016-03-18 14:42] magnolia61 commented on #348
I have no funding to help test this extension, but am willing to help test event voluntarily.
That is my donation :-)

[2016-03-18 14:44] systopia commented on #348
I know, and we're grateful :) I just wanted to explain to the other readers why this isn't moving forward...

[2016-03-21 14:44] scardinius commented on #383
My proposal in order to resolve problem is here #386

[2016-03-25 17:06] systopia commented on #371
Thank you again! I merged it, but I'll leave the ticket open until we tested it successfully :)

[2016-03-25 17:48] #372 closed

[2016-03-25 18:35] systopia commented on #373
merged to ``master``, but will also releasde with ``1.2.3``...

[2016-04-06 12:07] systopia opened #389 "Implement entityTypes hook"
Beginning 4.7 we can use a hook to register our SEPA entities, see https://civicrm.org/blogs/eileen/updating-extensions-for-47

[2016-04-13 08:16] systopia commented on #374
merged to ``master`` (46f7635) and released with 1.2.2

[2016-04-13 08:16] #374 closed

[2016-04-13 08:18] systopia commented on #368
merged to ``master`` and released with 1.2.2

[2016-04-13 08:18] #368 closed

[2016-04-13 08:18] systopia commented on #367
merged to ``master`` and released with 1.2.2

[2016-04-13 08:18] #367 closed

[2016-04-13 08:18] systopia commented on #350
Should be fixed with 1.2.2

@intombi: Could you verify this?

[2016-04-13 08:19] systopia commented on #348
Fix released with 1.2.2

[2016-04-13 08:19] #348 closed

[2016-04-13 08:22] systopia commented on #322
Closed due to inactivity

[2016-04-13 08:22] #322 closed

[2016-04-13 08:22] systopia commented on #277
merged to ``master`` and released with 1.2.2

[2016-04-13 08:22] #277 closed

[2016-04-21 13:42] systopia opened #390 "Duplicate collection if receive time changed"
During the batching process, CiviSEPA looks for existing contributions with a ``receive_date`` equal to the collection date. However, if the time part of the the ``receive_date`` has been modified (i.e. by CiviBanking) before the actual collection date, the algorithm won't find it, and subsequently creates a new collection.

This usually shouldn't happen, since CiviBanking should only process the

[2016-04-21 13:48] tttp commented on #390
Very very good point. Want to brainstorm or you have a plan? contrib recur has a last contrib id, we could use that as the reference?

[2016-04-21 14:14] systopia commented on #390
Well, I was thinking about using the contribution's ``trxn_id``, e.g. setting it to "[mandate_reference]-[collection-date]". This way, people could (later) move the contribution around, but it'll always be identifiable as this particular installment. Would be helpful when searching for contributions as well...

[2016-05-09 08:17] zabinetta opened #391 "Payment processor problem without <AmdmntInd>false</AmdmntInd>"
Dear Project60,
we had to try around a lot until our client's banking software took our exported xml file.
one of the problems might have been that the required field AmdmntInd was missing.
it should be just before </MndtRltdInf> in  org.project60.sepa/templates/CRM/Sepa/xml/TransactionGroup.tpl, line 62
`<MndtRltdInf>
            <MndtId>{$contribution.reference}</MndtId>
            <DtOfSgntr>{

[2016-05-11 10:12] #383 closed

[2016-05-11 10:19] tttp opened #392 "Mandates status not very clear?"
[code]

So looking at it for a dataviz coming soon, I was trying to find an explanation on what each status means, and not super convinced if "COMPLETE" is the right name. "CLOSED"?

And for OOFF, is "OOFF"? "SCHEDULED" or "PENDING"?

@systopia, what do you think?

[2016-05-11 16:33] systopia commented on #391
Thank you Sabine, we'll take care of it.

Unfortunately we'll cannot simply add the line, because we have to make sure it doesn't cause problems with the banks that people are using with the current format. I know it shouldn't - but I've seen a lot :-)

If it does cause trouble, we'll add it as an extra format.

[2016-05-11 16:45] systopia commented on #392
Well, I'm not very happy with the statuses either, but I'm reluctant to change this. It's not only the changes in our code, plus the additional upgrader code, but we would also break peoples' external queries and statistics routines.

I would rather go another way and try and hide the actual status names from the user. The under-development SEPA reports (#358) have code for that (see https://githu

[2016-05-12 08:39] tttp commented on #358
Oh my, I'm working on something along that line...  On civisualize

[2016-05-12 08:40] tttp commented on #392
Not that convinced either of doing the change, OK I'll just update the read
me to clarify
On 11 May 2016 18:45, "SYSTOPIA" <notifications@github.com> wrote:

[2016-05-12 12:09] systopia commented on #358
Well, both approaches will have their applications, I'm sure...

[2016-05-12 12:09] systopia commented on #392
Thanks

[2016-05-16 14:33] scardinius commented on #371
Hi @systopia

From my side, this feature works fine.

[2016-05-16 14:39] scardinius commented on #330
to close, #319 is closed now

[2016-05-23 08:45] systopia commented on #371
Ok, great!

[2016-05-23 08:46] systopia commented on #330
Thanks, @scardinius

[2016-05-23 08:46] #330 closed

[2016-05-30 12:35] magnolia61 commented on #351
I know 4.7 compatibility is still not available/funded, so purely FYI and to document for future use:
When (in civicrm 4.7.7) I try to look at the contributions of an active group I get
Cannot read SEPA transaction group [350]. Error was: 'A fatal error was triggered: is not of type String'
The url is: https://www.onvergetelijk.nl/civicrm/sepa/listgroup?group_id=350

[2016-06-06 12:53] systopia commented on #351
@magnolia61: Yes, we still don't have anyone willing to fund this. But thanks for documenting...

[2016-06-07 13:39] peth-systopia opened #393 "Error message not displayed when using AJAX-based pop-up editing"
If you want to delete a contribution that is linked to a mandate, an error message should be displayed that this is not possible (as well as the ID of the linked mandate). However, if you use AJAX-based pop-up editing, the error is not displayed, but the form just keeps loading.

[2016-06-07 14:22] Fabian-SYSTOPIA opened #394 "LittleBIC error message"
CiviSEPA Version: 1.2.2; CiviCRM Version 4.16.14; Not littleBIC installed

When I select "Create SEPA-Mandate" from a contact's contribution View an error pops up: "API (Bic, findbyiban) does not exist (join the API team and implement it!)."

Maybe the check if LittleBIC is installed is not working?!

[2016-06-08 12:35] systopia opened #395 "BUG: Cannot load group #x - "is not of type String""
In the recent CiviCRM 4.6 versions (observed on 4.6.17) the following error appears when dealing with SDD groups, like closing, or accessing them via API:
[code]

[2016-06-08 12:39] systopia commented on #350
no feedback -> closed

[2016-06-08 12:39] #350 closed

[2016-06-10 06:48] systopia commented on #384
Is currently in test in version 1.2.3

[2016-06-10 06:48] systopia commented on #395
Is currently in test in version 1.2.3

[2016-06-10 06:48] systopia commented on #390
Is currently in test in version 1.2.3

[2016-06-10 06:48] systopia commented on #394
Is currently in test in version 1.2.3

[2016-06-10 06:48] systopia commented on #358
Is currently in test in version 1.2.3

[2016-06-10 06:48] #384 closed

[2016-06-10 06:48] #395 closed

[2016-06-10 06:48] #390 closed

[2016-06-10 06:48] #358 closed

[2016-06-10 07:19] magnolia61 commented on #395
fyi: this also fixed this issue in civicrm 4.7

[2016-06-10 07:24] magnolia61 commented on #352
The countryLimit() fatal error is back again in 1.23 beta1
It was fixed by Scardinus (a28ed9f940ff5e62cc58c3068a2f39f9399f001d and 43430427aedf030b97c0021de50777fb8ae5b779)

[2016-06-10 07:33] systopia commented on #352
the 1.2 branch is not tested/released for CiviCRM 4.7. I'll merge the changes into 1.3 soon

[2016-06-10 07:34] systopia commented on #395
I'll merge it into 1.3 soon, which will (eventually) be 4.7 compatible

[2016-06-10 07:39] systopia commented on #395
merged to ``master``

[2016-06-10 07:54] systopia commented on #394
merged to ``master``

[2016-06-10 07:54] systopia commented on #390
merged to ``master``

[2016-06-10 07:54] systopia commented on #384
merged to ``master``

[2016-06-10 07:54] systopia commented on #358
merged to ``master``

[2016-06-16 13:33] kpomaranska opened #396 "Mandate import from .csv file"
I'm working with michau and @scardinius on using CiviSEPA to process Polish version of direct debit payments using CiviCRM.

The main difference between the SEPA process and Polish direct debit process is that in Polish process we have  a signed, paper version of the payment declaration that has to be verified by the bank before the first debiting is processed (scardinius summarized the difference

[2016-06-16 13:40] kpomaranska opened #397 "New mandate statuses"
As with the #396, we need specific new functions to process mandates in Polish direct debit.

We need more mandate statuses than CiviSEPA provides right now and we need them to initiate actions in CiviCRM and CiviSEPA.

The plan is to add new "status" field to SEPA mandate batch extension.

Statuses that we need:
new - added to CiviCRM, not in any of the batches that go to the bank for verificatio

[2016-06-20 11:52] systopia commented on #308
@mielert writes:

[2016-06-20 11:52] #308 closed

[2016-06-20 12:00] systopia commented on #396
@kpomaranska: Great description. I'll point people looking for a CSV importer to this ticket. It would probably help to give a deadline if you have one...

You could also have a look at what we (me and mostly @ErikHommel) created for Amnesty International Vlaanderen: https://github.com/CiviCooP/be.aivl.streetimport

[2016-06-20 12:11] systopia commented on #397
@kpomaranska: We should also describe how your new statuses relate to the [existing ones](https://github.com/Project60/org.project60.sepa/blob/master/sql/sepa.sql#L47): INIT, OOFF, FRST, RCUR, SENT, INVALID, COMPLETE, ONHOLD and PARTIAL.

Isn't ``INIT`` the same as your ``NEW``? And isn't ``ACCEPTED`` the same as ``OOFF``/``FRST``? And ``CANCELLED`` would resolve to either ``COMPLETED`` or ``INVAL

[2016-06-22 12:00] kpomaranska commented on #396
@systopia Yes, we have a deadline - July 10th :)

[2016-06-22 12:50] kpomaranska commented on #397
@systopia That is why we've decided to add the new status to our extension - it won't interfere with the mandate status in the CiviSEPA itself.
How CiviSEPA mandate statuses are to SEPA mandate batch extension mandate statuses:
Those statuses can be used only for contribution type = RCUR
<table>
<tbody>
<tr>
<td>Mandate status in CiviSEPA</td>
<td>Mandate status in SEPA mandate batch ext</td>
<td>

[2016-06-24 09:22] systopia opened #398 "Add setting for BtchBookg"
The ``BtchBookg`` tag tells the bank whether to process a file as one batch, or individually.

We currently deliver ``BtchBookg`` = ``true`` in our XML files, however some people might want this to be different. A good example is CiviBanking which needs the individual transaction for automatic processing of transactions.

[2016-06-27 09:59] systopia commented on #396
Well, it's going to be tough to find more people interested on such short notice. But there might be a point in later finding donors for a proper integration into CiviSEPA... That should make your life easier for now, shouldn't it?

[2016-06-27 10:06] systopia commented on #397
Just a few remarks

It's still going to be challenging to merge this later on. Just let me know when you're done with the development and then we can talk about that... does that sound good to you?

That's correct, atm the validation process is skipped.

We currently store that in the contribution's ``cancel_reason`` field, since in our scenario it always refers to one particular instance. In your

[2016-07-01 08:08] systopia opened #399 "Mandate token breaks scheduled mailing (1.2.3.beta1)"
@mielert reports (https://github.com/systopia/de.systopia.donrec/issues/35):

When sending a newsletter the cron job throws an error. The invalid query is probably part of the new implemented token.

[code]

[2016-07-01 08:16] systopia commented on #399
@mielert: Similar to your suggestion, I propose this to fix the issue: https://github.com/Project60/org.project60.sepa/commit/aee3cdd490e9976d2fb9c447c29aa91191838686

Could you please install the fixed ``dev_399`` version (https://github.com/Project60/org.project60.sepa/archive/dev_399.zip) and see if it works for you? If so, I'll release a new beta version soon.

And thanks again for hunting dow

[2016-07-01 08:28] mielert commented on #399
Error in fix. Has to be "if(count($cids)>0){" not "if(count($contact_id_list)>0){".
@systopia Do you know why $cids can be empty? Why to trigger sepa_civicrm_tokenValues when there are no contacts?
I'll install your zip as soon as my mailing has finished.

[2016-07-01 09:47] systopia commented on #399
I'm not sure, it might have to do with the way the mail processor works. There might be a point in checking the ``$context`` variable, but that would mean disabling the tokens for mass mailings.

The resources (like https://wiki.civicrm.org/confluence/display/CRMDOC/hook_civicrm_tokenValues and https://civicrm.org/blog/colemanw/create-your-own-tokens-for-fun-and-profit) don't mention the problem.

[2016-07-21 07:28] mielert commented on #399
@systopia Fix is not working.
Still the same error message. No idea why "if (empty($cids)) return;" doesn't work.

[code]

[2016-07-22 11:51] scardinius commented on #399
Hi, I know that my [fix](https://github.com/scardinius/org.project60.sepa/commit/51183dedaf61b97bc0385bb270d9bee1351bb37d) looks worse but works fine :-)

[code]

[2016-08-01 09:55] systopia commented on #399
@scardinius: Thanks. Are you sure this works? Then I'll just use your fix.

@mielert: Did this work for you?

[2016-08-02 15:25] scardinius commented on #399
@systopia Yes, I'm sure.

[2016-08-02 15:36] systopia commented on #399
@scardinius: thanks, I'll release a new beta version with your fix tomorrow

[2016-08-03 06:10] systopia commented on #399
Ok, I released [1.2.3.beta2](https://github.com/Project60/org.project60.sepa/releases/tag/1.2.3.beta2), but can anyone explain to me, how

[code]
can cause trouble, while
[code]
doesn't?

The only way I could think of is, if sometimes ``$cids`` is a comma separated list of IDs instead of an array (which the [documentation](https://wiki.civicrm.org/confluence/display/CRMDOC/hook_civicrm_tokenValues

[2016-08-03 08:03] mielert commented on #399
Test with mail logging enabled is running.
I'm trying to log $cids:
[code]

[2016-08-03 08:41] mielert commented on #399
@systopia: If $cids just containing a single cid it's not packed in an array. So it's not empty but can't be imploded.

civiSEPA.log:
[code]

Demo:
[code]

@scardinius: So I don't think, "(is_array($cids) && count($cids) > 0)" is a good solution because we're loosing contacts. Probably this one is much better:

[code]
If we want to cover empty $cids (case hasn't been logged in my testing):
[code]

[2016-08-03 08:50] systopia commented on #399
Thanks @mielert! I'll create a new version taking this into account.

[2016-08-03 11:33] systopia commented on #399
Ok, I created a new fix (still in the ``dev_399`` branch) that should be able to deal with pretty much anything in ``$cids``.

@mielert: Any chance you could verify this fix?

[2016-08-03 12:59] mielert commented on #399
@systopia Ok, test is running without logging of "empty($cids) || !is_array($cids)".

[2016-08-03 13:43] mielert opened #401 "cancel_reason | end_reason => error message"
I get an error message when saving a mandate with filled out cancel_reason or end_reason.
4.7, 1.2.3.beta

[2016-08-03 13:57] systopia commented on #399
Great, thanks! I'll create a new beta release later today!

[2016-08-03 14:42] mielert commented on #399
@systopia mailing completed. The former skipped contacts got their mail!

[2016-08-04 05:23] systopia commented on #401
Thanks @mielert.

I'm not quite sure what you mean but I could create a mandate with an end date on 4.6 with the latest Beta - so this would be https://github.com/Project60/org.project60.sepa/issues/351.

Could you specify what process/form you're referring to? Ideally with a screen shot?

[2016-08-04 12:53] mielert commented on #401
@systopia I think this is a problem of 4.7
If I'm going to cancel a mandate, I've got to give a reason. This reason throws an error message.

Filling in "testgrund"
<img width="854" alt="bildschirmfoto 2016-08-04 um 14 44 20" src="https://cloud.githubusercontent.com/assets/937362/17402173/0f6c50cc-5a52-11e6-81a4-58e2dfa8c89f.png">
Saving (Clicking "Abbrechen")
Error Message:
<img width="385" alt="

[2016-08-04 13:36] systopia commented on #401
No worries, thank you for reporting!

[2016-08-12 13:49] systopia opened #402 "Hook for EndToEndId reference"
In some cases it should be possible to have a custom &lt;EndToEndId&gt;. Even if the produced one is unique within the same CiviCRM installation, a migration might cause problems here.

We therefore suggest using a hook to be able to override the &lt;EndToEndId&gt;. This would also fix #385

[2016-08-25 18:22] systopia commented on #253
fixed with https://github.com/Project60/org.project60.sepa/commit/cc3f767c6ce8ba8e87d75ccb8a0e1593eabf7d6d

[2016-09-14 20:24] czerwinski1977 opened #403 "Upgrade from sfe-ev/ssepa/show_recur branch to Project60/1.2.3"
Drupal 7.50; CiviCRM 4.4.21
I am using the [sfe-ev/ssepa/show_recur](https://github.com/sfe-ev/ssepa/tree/show_recur) branch and it kind of works for me. Now I want to upgrade to latest Project60 release (1.2.3) but I am having issues: Most prominently, I cannot dig into SEPA groups, I always end up at the overview page. I have also tried CiviCRM 4.5 and 4.6 without success.

Q: Is there a reasona

[2016-09-16 06:11] systopia commented on #403
Hi @czerwinski1977.

That makes me think that this is a problem with the data created by the ``sfe-ev`` branch.

I'm not sure. @Detsieber oder @antrik would be the best contacts to ask this. I personally have not been involved in the ``sfe-ev`` branch.

It should, however since few people a re still on 4.4, maybe some 4.4 specific bugs slipped through . But if in your case you observed the same pr

[2016-09-16 16:19] systopia opened #404 "SEPA report crashes if recurring contribution status is included"
Unfortunately the 'recurring contribution status' field causes a DB error when selected as a column in the recurring report. Here's stack trace:

[code]

[2016-09-16 16:33] systopia opened #405 "Record mandate button disappears (again)"
To reproduce:
1. Open contact overview
2. open contribution tab -> note the button is there
3. open membership tab
4. open contribution tab (cached) again -> note the button is gone

If you open the membership tab first and then open the contribution tab it works fine.

Possible related to #322, #205, #214

[2016-09-18 20:27] antrik commented on #403
Woah, I wasn't aware anyone was actually using this ancient code in production...

@systopia IIRC this branch is only a small change compared to what ended up the branching point between the SfE and the systopia variants, i.e. this question applies for upgrade attempts to either version.

@czerwinski1977 I don't think there is any official upgrade path from this ancient code. Probably the only thi

[2016-10-01 07:30] czerwinski1977 commented on #403
Thank you for your replies, I will try to mod the tables.

Cheers, Reinhard

[2016-10-20 12:39] mielert opened #406 "start_date no more editable"
When editing a mandate no matter what start date I select, the old one is used. So I have to create a new mandate from scratch.

Release Date: 2016-08-18
System: php 5.6.27, Drupal 7.51, Civi 4.7.12

[2016-10-26 14:54] systopia opened #407 "Issue a warning when leaving the "close group" screen"
Somebody cleverly suggested to mark the "close SEPA group" screen as 'edited' so you would get a warning when leaving that screen without consciously closing the group or leaving it open.

This won't fix the problem with left-open groups in general, but it could make it less likely to forget.

[2016-10-27 12:37] Fabian-SYSTOPIA commented on #401
I was able to reproduce this on a testing environment

[2016-10-27 12:42] Fabian-SYSTOPIA commented on #393
Can confirm this still happens on 4.7

[2016-10-28 07:32] systopia commented on #389
This has actually been implemented for a while, and fixed with version 1.2.3

[2016-10-28 07:32] #389 closed

[2016-10-31 12:40] Fabian-SYSTOPIA opened #408 "Compatibility with SEPA Version 3.0"
Some changes (taking effect in November 2016) have been introduced for the SEPA standards. Extensive information on the changes can be found [here](http://www.ebics.de/index.php?id=77).

Although they use the same "namespaces" (e.g. 008.001.02 for CORE) for the xml files, some changes to the generated files will be necessary.

Other relevant changes which will probably require no/very minor techni

[2016-11-04 19:58] systopia commented on #385
Revisiting this, I think it's a bug after all. The problem is the the ``id`` field in a ``CRM_Core_DAO`` seems to be rather volatile - even if the ``id``  column in the SQL query itself contains the contribution ID, the ``id`` field in the result has the mandate ID.

I say this needs fixing, since the mandate ID is by no means unique.

See code at: https://github.com/Project60/org.project60.sepa/b

[2016-11-08 06:59] systopia opened #409 "Add 'cancel_reason' to mandate table"
The mandate table ``civicrm_sdd_mandate`` needs to get another field called ``cancel_reason``, see the end of #401. This entails:
* changing the scheme
* change readout and manipulating code
* upgrade/migration code
* adjusting the reports

[2016-11-08 07:01] systopia commented on #401
The reason for this behaviour is [CRM-14901](https://issues.civicrm.org/jira/browse/CRM-14901). We use a note attached to the mandate to store the cancel reason, but this change prevents us from doing it in CiviCRM 4.7. I will try to find a workaround, but a proper fix (see #409) is a lot of work...

[2016-11-09 10:38] Fabian-SYSTOPIA commented on #407
Tested with 4.6.21 and working fine - will test with 4.7 soon

[2016-11-25 12:35] Fabian-SYSTOPIA commented on #407
Tested 1.2.4 beta and working as expected (warning is shown)

[2016-11-25 12:42] Fabian-SYSTOPIA commented on #401
Tested with 1.2.4 alpha - is working now

[2016-11-25 13:30] Fabian-SYSTOPIA commented on #393
The problem still seems to exist (using 1.2.4 alpha & CiviCRM 4.7.13 and 4.6.21)

[2016-11-25 13:32] Fabian-SYSTOPIA commented on #352
The problem seems to be fixed (using 1.2.4 alpha and 4.7.13).

[2016-11-28 07:10] systopia commented on #393
Well, with https://github.com/Project60/org.project60.sepa/commit/4521c843808eeb195526260b843ebd4a9b13c4db we now produce a proper exception, I added an APIWrapper to return a proper API error, and also added a feature that would remove the 'delete' link in a contribution search result.

The problem is, however, that the AJAX calls from the UI do not use the API and cannot deal with an exception o

[2016-11-28 08:19] systopia commented on #394
Unfortunately, this is still present. Problem is, that the ``Extension.get`` call apparently doesn't give a &^$% about the ``key`` parameter.

[2016-11-28 10:15] tttp commented on #394
@systopia easier to track the is_error and handle it differently than just display a "no extension" error?

[2016-11-29 08:06] bjendres opened #410 "Notices in payment processor"
There are still a number of harmless notices when using the payment processor. Since notices should be hidden on a productive system anyway, fixing this issue doesn't have a high priority.

![notice nach anlegen zahlungsprozessor](https://cloud.githubusercontent.com/assets/3448869/20701393/140af6fc-b613-11e6-893f-76a78be10e8d.png)
![notices auf bestatigungsseite](https://cloud.githubusercontent.co

[2016-11-29 08:15] #351 closed

[2016-11-29 08:15] #352 closed

[2016-11-29 08:15] #385 closed

[2016-11-29 08:15] #393 closed

[2016-11-29 08:15] #394 closed

[2016-11-29 08:15] #401 closed

[2016-11-29 08:15] #402 closed

[2016-11-29 08:15] #407 closed

[2016-11-29 08:15] #408 closed

[2016-11-29 08:18] systopia commented on #394
Not even. The idea was that if little BIC is not installed there is simply no lookup - but no warning or notification. It seems to work quite well now.

[2016-11-29 09:55] magnolia61 opened #411 "PHP7 compatibility: Error: Call to undefined function split()"
Thanks for the 1.2.4 beta1 release. Just tried it on drupal 7.5.2 civicrm 4.7.13 and PHP7
Using the civisepa admin settings I get the following error when saving the default values:

Error: Call to undefined function split() in CRM_Sepa_Logic_Settings::getListSetting() (line 86 of /home/xyz/domains/ourdomain.nl/public_html/sites/all/modules/civicrm_extensions/org.project60.sepa/CRM/Sepa/Logic/Sett

[2016-11-29 09:57] tttp commented on #411
Hi,

Thanks for the report. Is the rest of civi working in PHP7?
the latest update I have was that it relies on several key libraries (eg pear ones) that aren't compatible with PHP7

[2016-11-29 09:59] magnolia61 commented on #411
Working flawlessly in production for a month now, using even registrations and contributions. And: all much faster!

[2016-11-29 10:05] systopia commented on #411
@magnolia61: Thanks for the report. Care to share you patch?

[2016-11-29 10:07] magnolia61 commented on #411
I have no patch, just reporting.

[2016-12-02 14:18] systopia commented on #393
There was still an issue with this, some calls needed an extra include. Should be fixed with https://github.com/Project60/org.project60.sepa/commit/c1df885b8b146ea3f85434d014b73bc5e3d70cd5

[2016-12-05 13:45] #399 closed

[2016-12-14 15:07] systopia opened #412 "Expose 'mend mandate"

[2016-12-14 15:14] bjendres opened #413 "Expose 'amend mandate' to API"
In https://github.com/Project60/org.project60.sepa/issues/202 we created a UI function to change a mandate's amount. However we now want to expose this functionality to the API. Ideally, it should allow changing the following attributes:
* Amount
* IBAN
* BIC
* Campaign
* Financial Type

It would also record that change as an activity, unless suppressed by a API parameter. Furthermore it should ac

[2016-12-16 13:39] scardinius opened #414 "Settings for payment processors are not unique in 4.7"
CiviCRM 4.7 doesn't use `civicrm_setting.group_name` in order to distinguish settings. This means that `civicrm_setting.name` has to be unique!

Sepa has settings `pp1`, `pp2`... as a container for creditor_id for selected payment processor. There were also different group_name, 'SEPA Direct Debit PP' and 'SEPA Direct Debit PP Test'.

After upgrade below code returns the same value (based on a gre

[2016-12-16 13:46] systopia commented on #414
Thanks @scardinius for reporting. Would you mind creating a PR?

[2016-12-16 13:47] scardinius commented on #414
@systopia yes, I'm working on it now :)

[2016-12-16 14:04] scardinius commented on #414
@systopia This fix handles getting and setting values but not migrating from old names to new. Do you have good idea? After migrating to 4.7 it's not possible for script/php to decide which value is for live or test payment processor...

[2016-12-16 14:11] systopia commented on #414
I know, we had the same problem in another extension (de.systopia.donrec). We ended up putting upgrader code into the extension and added the instruction to upgrade the extension (on 4.6) _before_ upgrading CiviCRM (to 4.7)...

[2016-12-28 16:45] tttp opened #416 "Changing the status of the recurring contribution to "in progress""
hi,
Right now, the status of the recurring contributions are "pending" (if created or runnning) or "completed" (if finished)

It's rather confusing for the users to "translate", @systopia I'd like to use other status:

- "pending" from the creation until the first time the account has been debited (xml file has been "marked received")
- "in progress" as long as the account is debited
- "Cancelled"

[2017-01-13 05:41] systopia commented on #416
Hi @tttp. Sorry for the late reply, I was on holiday.

I agree that the selection of statuses is not very good, and I agree with the proposed use of ``pending`` and ``in progress``. However I would want to keep ``completed`` for mandates that had limited runtime from the beginning.  I could also see us using ``cancelled`` and ``failed``, but here we need to properly define its meaning.

In any cas

[2017-01-16 13:26] systopia opened #417 "Missed SEPA group colour scheme"
There is a colour scheme to mark the status of the contribution. The designated colour for "missed" submissions was black, which on some browsers/themes hides the text completely, making it seem a solid black bar.

[2017-01-16 13:43] systopia opened #418 "Settings need prefix"
With CiviCRM 4.7 the settings groups have been removed, leaving all settings on the same level. In this context, the CiviSEPA settings (e.g. ``pp``, ``exclude_weekends``, etc.) should have a prefix to indicate their origin. Alternatively, they could go into settings bags.

See also https://github.com/Project60/org.project60.sepa/issues/414

[2017-01-19 10:41] systopia opened #419 "Last Mandate tokens break newsletter"
Apparently, using the "Most Recent SEPA Mandate" tokens breaks newsletter sending, at least in CiviCRM 4.6.

``Smarty error: [in string:Sample Header for HTML formatted content.       [error]``

[2017-01-19 10:51] systopia commented on #419
turns out that spaces in the token group breaks token replacement in newsletter, not e.g. PDF generation.

[2017-01-19 10:51] #419 closed

[2017-01-19 13:29] systopia opened #420 "Cloning mandate doesn't copy IBAN/BIC"
If you're trying to clone an older mandate, IBAN and BIC aren't copied. The culprit is an old change (https://github.com/Project60/org.project60.sepa/commit/9301bf7355d163790dd17b29923c31dc9d34c32c) which introduces a limit to the IBANs in the selection dropdown, which the clone process then selects.

I can't remember why I did this, but I'd like to remove it.

@all: any objections?

[2017-02-01 06:52] systopia commented on #417
released in 1.2.4

[2017-02-01 06:52] #417 closed

[2017-02-01 06:52] systopia commented on #414
released in 1.2.4

[2017-02-01 06:52] #414 closed

[2017-02-15 17:20] systopia opened #421 "Add anonymised IBAN token"
If you want to send anonymised IBAN notifications via email, you might not want to send the full IBAN for data protection reasons.

This ticket aims at providing an extra token with the middle part of the IBAN anonymised using 'X's

[2017-02-15 22:16] J0000 opened #422 "Possibility to remove obsolete Account Information"
Sometimes clients change their IBAN. You can create a mandate with a new IBAN but you are not able to remove the old number.

It would be nice to have the possibility to remove the old bank information, perhaps you cloud be asked for that when you create a SEPA mandate with a new IBAN?

[2017-02-15 22:23] J0000 opened #423 "More human readable IBAN"
On different places where the IBAN occurs, it would be nice to see it formatted in the official way ( XX00 0000 0000 0000 0000 00). It's easier for the user to control the correctness with blanks on the right places.

Also in the dropdown-combo which contains the IBAN it would be nice to see the number formatted. Perhaps the IBAN could be entered with whitespaces which can easily removed afterward

[2017-02-16 06:38] systopia commented on #422
Good idea, @J0000. However, it should not only be possible to 'retire' an IBAN when creating a new mandate. Any better ideas?

[2017-02-16 06:40] systopia commented on #423
I agree, that would be nice. Is the format you mentioned (blocks of four) applicable for all IBANs or is that country specific?

[2017-02-16 07:51] J0000 commented on #422
No, not only, but it's a good opportunity :)

A button with a small Pop-Up in the Contribution tab? Or anywhere in connection with CiviBanking?

[2017-02-16 08:03] J0000 commented on #423
In Germany it's defined in the normation DIN 5008 as described. The official IBAN standard doesn't have any ISO normination, but in all countries the used format should be the same: blocks of four (the length differs) and the length of last block depends on the total length

https://en.wikipedia.org/wiki/International_Bank_Account_Number

[2017-02-16 08:53] J0000 opened #424 "replace mandate more comfortable"
perhaps the fields with the cycle day, frequency interval could be prefilled with the values from the existing mandate an the start date filled with the calculated date of the next planned contribution?

[2017-02-19 14:03] dragonjon opened #425 "Token value blocks mass mailing"
I have updated to V.1.2.4 but I have problems sending the newsletter.
With the previous version 1.2.3 had the same problem sporadically, at the moment it is not possible to send newsletter.
My version of Civicrm is 4.5.8
Drupal 7.53
When I send a newsletter, it is not sent.
I review Send Scheduled Mailings job log and give error
Finished execution of Send Scheduled Mailings with result: Failed, Er

[2017-02-19 16:09] dragonjon commented on #425
I do not know how but the blocking in the newsletter has been solved

Now two PHP error messages come out every time a contribution form is used and confirm page is display

Notice: Undefined index: payment_processor in sepa_pp_buildForm () (line 87 of /public_html/sites/default/files/civicrm/custom/org.project60.sepa/sepa_pp_sdd.php).

Notice: Undefined index: class_name in sepa_pp_buildForm () (

[2017-02-20 07:41] systopia commented on #425
Hi @dragonjon. Thank you for your report.

You'll find that CiviCRM 4.5 is not supported any more as of CiviSEPA version 1.2.4. I would especially expect compatibility issues with the payment processor, which is exactly the part of the code where you get the PHP notices. That being said, notices often don't cause harm and there's a good chance it would still work. You can simply configure drupal t

[2017-02-20 08:30] dragonjon commented on #425
Hi @systopia thanks for the prompt response.
One last question, of the Project 60 what CiviCRM version is the best or more stable for use this extensions, we use the following extensions:
Org.project60.banking
Org.project60.sepa
Org.project60.membership
Org.project60.bic
Thanks

[2017-02-20 08:56] systopia commented on #425
They should all be compatible with CiviCRM 4.6 at the moment, that's probably your best choice. (But of course that also depends on a lot of other factors as well).

Some of the extensions haven't been officially flagged 4.7 compatible, and some have already dropped support for 4.5 and below. You find the supported versions in the info.xml files.

[2017-02-20 08:56] #425 closed

[2017-02-22 15:27] Fabian-SYSTOPIA commented on #356
It seems like this bug is back - using 4.6.24 and CiviSEPA 1.2.4beta1

[2017-02-23 11:06] #412 closed

[2017-03-14 16:29] systopia opened #426 "Performance issues"
Dealing with large groups and lots of mandates can produce performance issues.

One reason was identified as some queries don't make use of the mandate's entity_table/entity_id index, because the omit the entity_table condition

[2017-03-14 17:53] tttp commented on #426
awesome news!

On 14 March 2017 at 17:29, SYSTOPIA <notifications@github.com> wrote:

[2017-04-07 08:07] systopia commented on #421
has been tested successfully and will be released with 1.2.5

[2017-04-07 08:07] #421 closed

[2017-04-11 10:07] systopia commented on #356
Seems to be related to the invoicing functions.

[2017-04-26 15:24] systopia opened #428 "Close SEPA group before download option"
Advantage: can't download XML and then forget to close (which leads to chaos).
Disadvantage: can't change group any more

[2017-04-26 15:25] systopia opened #429 "Option: Close SEPA group to status received"
This let's you skip the 'closed' status and marks groups as 'received' right away. This also means that the contributions will be in status 'Completed' then as well.

[2017-04-28 10:22] systopia opened #430 "Support for big groups"
When handling very large SEPA groups (e.g. update, close, mark received) there is a chance you run into timeout problems.

We should provide a way of dealing with those groups.

[2017-05-23 18:33] systopia opened #431 "Use next_sched_contribution_date"
As already mentioned in #335 the ``next_sched_contribution_date`` is currently not populated by CiviSEPA.

The batching algorithm should set it to the next scheduled collection, so the system's searches work on it.

[2017-05-24 13:05] systopia opened #432 "Rounding problems"
The field ``CtrlSum`` in most PAIN XMLs expect a number with a maximum of two digits. This should usually be the case, but with large collections the amount might get rounding errors and look like this: ``98529.8699999``. This needs to be fixed.

[2017-06-20 17:36] systopia opened #435 "Payment processor start date calculation"
The earliest possible RCUR collection date was wrongly based on the OOFF notice days.

[2017-06-28 10:52] systopia commented on #420
No objections -> will release with 1.2.5

[2017-07-04 15:55] rthouvenin opened #437 "Hook civicrm_links declared twice"
The hook `sepa_civicrm_links` is declared twice, with different definitions. This prevents installing the extension from the master branch.

[2017-07-05 09:45] systopia commented on #437
Thanks @rthouvenin.

As stated in the https://github.com/Project60/org.project60.sepa/blob/master/README.md the master branch is not suitable for deployment. We would like to change it to the latest release but some people are using it, so it might cause trouble with them since it would be a step back. But I guess we'll to it soon anyway, apparently a lot of people don't read the readme.

[2017-07-05 10:12] DanielvV commented on #411
Works for me

[2017-07-05 10:25] rthouvenin commented on #437
OK Thanks.
Yep I saw that but didn't understand that the master branch shouldn't be used at all, so I thought would be useful to mention. I was building a test environment and already new the extension, so I grabbed master without giving much thought about it.

Anyway, I am happy to stick to 1.2.x :)

[2017-07-05 10:28] systopia commented on #437
It's good to know, but ``master`` has some stuff pulled from some other people and I have no idea what's currently going on there, and I don't have the time to look into this right now.

Having said that, it's probably inevitable to change ``master`` to something I that I do have control over :)

[2017-07-18 06:08] systopia opened #439 "IMPORTANT: Switch master branch"
Currently, the ``master`` branch holds an unmaintained version of 1.3. It has some features that some people might be using, but it is not currently being developed. Most development is taking place in the ``1.2.x`` branch, which is also where the stable releases come from.

Although this is described in the README file, too many people have simply downloaded the ``master`` branch instead of a pro

[2017-07-21 06:23] Fabian-SYSTOPIA opened #440 "Insufficient error handling when replacing mandate (Quickform)"
Tested with CiviCRM 4.7.22, CiviSEPA 1.2.4

How to reproduce:
- click on replace for an existing mandate
- in the form, enter a wrong IBAN and click save
- the form will be refreshed an thus loose the information on the mandate that is supposed to be replaced (changed) by the new information
- after entering the new mandate information and saving, the new mandate is created but the old is not canc

[2017-07-21 10:05] systopia opened #441 "Refactor "Create Mandate" form"
The current mandate create form does not fully comply with CiviCRM conventions, and it is increasingly becoming a problem.

When re-implementing the form we could also have a look at #303, #201 and #440

[2017-07-24 14:35] appelhannes opened #442 "SEPA Group cannot be deleted in CiviCRM 4.7"
I have created a test mandate which I now wanted to delete. The corresponding contribution has already been deleted. When pressing the "delete" button on the CiviSEPA Dashboard, I am receiving a white screen in the browser and the group is not deleted.

Is this a known issue and how can I fix it?
Thanks for the help.

[2017-07-24 15:05] systopia commented on #442
I am not aware of this issue, but I need more information on the issue to help you. Which versions are you using (CiviCRM and CiviSEPA), what kind of mandate where you creating, how did you deleted the contribution....?

[2017-07-24 15:11] appelhannes commented on #442
Thanks for your help! I am using CiviCRM version 4.7.19 and CiviSEPA version 1.2.4.

Our contribution page is not yet online and I have created the mandate using the "public" contribution page. For the preparation of the productive system, I have now deleted all test contributions I have created. I deleted the corresponding contribution to the mandate by pression the "contribution" button on the C

[2017-07-24 16:12] systopia commented on #442
I'm assuming you're talking about recurring mandate, correct? And I'm assuming you mean the "delete" button when you say "contribution" button on the dashboard, right?

Could you have a look at the PHP error log and the CiviCRM log to see if there is any message in there?

[2017-07-25 12:14] appelhannes commented on #442
It is an OOFF mandate. There is an error message in the PHP error log file which says:

CRM_Core_OptionGroup::optionLabel() in
/var/www/wordpress/wp-content/uploads/civicrm/ext/org.project60.sepa/CRM/Sepa/Page/DeleteGroup.php
on line 38, referer:
http://[...]/wp-admin/admin.php?page=CiviCRM&q=civicrm%2Fsepa
[...] PHP Fatal error:  Call to undefined method
CRM_Core_OptionGroup::optionLabel() in
/va

[2017-07-25 12:51] systopia commented on #442
Great, that helps.

It seems like ``CRM_Core_OptionGroup::optionLabel()`` was removed in CiviCRM 4.7, and nobody has noticed so far...

I'll probably put a fix in the upcoming 1.2.5, but I probably won't have the time this week.

If you don't want to wait you can simply delete the line (https://github.com/Project60/org.project60.sepa/blob/1.2.5.alpha1/CRM/Sepa/Page/DeleteGroup.php#L38) or comment

[2017-07-25 15:09] appelhannes commented on #442
Hello Systopia,
The line has been commented out and the mandate could be deleted.
many thanks for the help.

[2017-07-27 07:04] bkaless opened #443 "Extension fails to install"
I set up a fresh CiviCRM-Environment:

In both cases (PHP7 or PHP5.6) I get the following error on Install
`SQL File not found`

The detail log is:
`Warning: file_get_contents(-- /******************************************************* -- * -- * civicrm_sdd_creditor -- * -- *******************************************************/ CREATE TABLE IF NOT EXISTS `civicrm_sdd_creditor`( `id` int unsigned

[2017-07-27 08:38] systopia commented on #443
@bkaless Which version?

[2017-07-27 09:19] bkaless commented on #443
It is SEPA Direct Debit CiviSEPA 1.2.4 on CiviCRM 4.7.22
I tried to install it directly via civicrm/admin/extensions

The MYSQL-User has all rights for the database

[2017-07-27 09:35] bkaless commented on #443
I also treid the 1.2.5-alpha1 version with the same issue.

[2017-07-27 12:33] DanielvV commented on #443
This should be fixed with this pull: https://github.com/Project60/org.project60.sepa/pull/438#issuecomment-313106121
@systopia when will the new alpha2 be released?

Pull request for https://github.com/Project60/org.project60.banking/pull/168

[2017-07-27 14:23] systopia commented on #439
done.

[2017-07-27 14:23] #439 closed

[2017-07-27 14:41] systopia commented on #442
@appelhannes Could you please verify that it works in 1.2.5.alpha2?

[2017-07-27 14:42] systopia commented on #443
@bkaless Could you please check again with 1.2.5.alpha2?

[2017-07-28 05:35] bkaless commented on #443
Yes, it works ;)

[2017-07-28 06:43] systopia commented on #443
@bkaless Great! Please keep reporting your findings!

[2017-07-28 06:43] #443 closed

[2017-07-31 15:05] DanielvV opened #444 "API doesn't work correctly - ContributionRecur"
How to reproduce:
- Goto <yourinstallation>/civicrm/api
- Select entity ContributionRecur

[2017-07-31 15:12] DanielvV commented on #444
It does work correctly when you have set php value short_open_tag=On

[2017-07-31 15:13] DanielvV commented on #444
[<? is discouraged](http://php.net/manual/en/language.basic-syntax.phptags.php)

[2017-07-31 16:31] tttp commented on #444
Hi @DanielvV, this is a mistake indeed. Could you fix and do a PR?

[2017-08-01 06:03] #444 closed

[2017-08-22 13:06] systopia commented on #430
Released with ``1.2.5.beta1``

[2017-08-22 13:06] systopia commented on #428
Released with ``1.2.5.beta1``

[2017-08-22 13:06] #428 closed

[2017-08-22 13:06] systopia commented on #429
Released with ``1.2.5.beta1``

[2017-08-22 13:06] #429 closed

[2017-08-22 13:08] systopia commented on #411
Released with 1.2.5.beta1

[2017-08-22 13:08] #411 closed

[2017-08-22 13:08] systopia commented on #426
Released with 1.2.5.beta1

[2017-08-22 13:08] #426 closed

[2017-08-22 13:08] systopia commented on #420
Released with 1.2.5.beta1

[2017-08-22 13:08] #420 closed

[2017-08-22 13:08] systopia commented on #432
Released with 1.2.5.beta1

[2017-08-22 13:08] #432 closed

[2017-08-22 13:08] systopia commented on #442
Released with 1.2.5.beta1

[2017-08-22 13:08] #442 closed

[2017-08-22 13:10] systopia commented on #435
Released with 1.2.5.beta1

[2017-08-22 13:10] #435 closed

[2017-08-24 12:45] tttp opened #446 "supporting SEPA Instant Credit Transfer"
So big change in nov 2017, sepa will allow to transfer between banks in less than 10 sec, ie no need anymore to wait and generate the file and upload and...

Has any of you looked at it and discussed it with your bank? that would make donations using sepa way easier, wouldn't it?

[2017-08-25 06:05] systopia commented on #446
Sounds very interesting, I'll let you know if anything's happening on our end.

[2017-08-25 07:02] Detsieber opened #447 "Full support for current SEPA rulebook as of September 2016"
Every year in November, a new version of the SEPA rulebook is released. The changes from November 2016 included a new PAIN file definition - this is already incorporated in CiviSEPA = pain.008-001.02 (CDD EBICS-3.0) - Thank!!

However, the following changes are still open:
- Status FRST is obsolete (we can use RCUR from the beginning)
- Default for notice days is D+1 (instead of D+6 previously) fo

[2017-08-25 07:03] Detsieber commented on #446
As far as I understood, SEPA Instant Credit Transfer is not about Direct
Debit, but only about Payments initiated by the customer/donator. In
fact, this might be a significant step forward, as it would make
obsolete payment solutions like PayPal, Creditcard acquirers and
services like "Sofort-Überweisung" (which operates at least in Germany
and Austria with some success): People could proceed thei

[2017-08-25 07:17] tttp commented on #446
Hi,

Direct Debit is big in germany, but in other countries, they are already
more used to have their national version of ict (I'm like you, not super
sure what is is exactly), eg iDEAL in the Netherlands.

This being said, we need both, things like recurring seem to match better
with Direct Debit indeed

X+

On 25 August 2017 at 09:03, Detsieber <notifications@github.com> wrote:

[2017-08-25 07:19] tttp commented on #447
Whaaat!

I missed these points completely. It seems that I do not read enough
banking newspaper ;)

Do you have more information about it? usually, the problem isn't so much
to implement it but to get the banks play nicely with it, having some extra
information does help, usually.

Thanks to raise the issue

X+

On 25 August 2017 at 09:02, Detsieber <notifications@github.com> wrote:

[2017-08-25 07:58] systopia commented on #447
@Detsieber:

Since it is still allowed to use FRST, I wouldn't change the system. Or can you think of a good reason?

Could you explain why configuring the notice days to 1 isn't enough?

That would be https://github.com/Project60/org.project60.sepa/issues/95, crrect?

[2017-08-25 16:09] elishowk opened #448 "PHP 7 compatiblity"
Since CiviCRM is fully compatible, it may be nice to have this extension compatible too.

For example, some function are deprecated :

```Uncaught Error: Call to undefined function split() at line 86 of org.project60.sepa/CRM/Sepa/Logic/Settings.php```

[2017-08-25 16:20] DanielvV commented on #448
Is fixed in beta: https://github.com/Project60/org.project60.sepa/releases/tag/1.2.5.beta1

[2017-08-25 16:27] tttp commented on #448
We are using it on php7, what branch are you on?

On 25 August 2017 at 18:09, elishowk <notifications@github.com> wrote:

[2017-08-27 19:42] elishowk commented on #448
Thanks, I'll close and upgrade then !

[2017-08-27 19:42] #448 closed

[2017-09-12 13:01] Fabian-SYSTOPIA opened #449 "Cycle day limitations not considered when using SEPA payment processor"
CiviSEPA settings allow to define certain cycle day for recurring contributions. Those are properly considered when creating a SEPA mandate via the UI but not when using a CiviSEPA payment processor on a contribution page. Tested with CiviCRM 4.7.23; CiviSEPA 1.2.5.beta1 and 1.24.

To Reproduce:

1. create a creditor allow only "5" as cycle day
2. create a CiviSEPA payment processor and select tha

[2017-09-12 13:06] tttp commented on #449
Ah!

Well spotted, we had a bunch on the 1st I didn't understand how they came in.

[2017-09-12 13:10] tttp commented on #95
Hi @Detsieber,

Did you look what are the countries that do not need the BIC anymore?

I'm not clear about the XML file, is this supposed to be with without the <bic> tag or with bic tag = NOTPROVIDED?

[2017-09-18 07:43] jvos opened #450 "Menu item (CiviSEPA Dashboard ) not showing in menu (drupal)."
The menu item "CiviSEPA Dashboard" is not showing in the Contributions menu, while the user has the permission "CiviContribute: access CiviContribute" (in Drupal).
The menu item is visible if you give the user the permission "CiviCRM: administer CiviCRM"

[2017-09-18 10:59] DanielvV commented on #450
Created a pull request. Let's see what the maintainers (@systopia, @tttp) of this extension think of this.

[2017-09-18 12:40] DanielvV commented on #95
**Looks like most sepa country don't need BIC anymore**

non-EAA SEPA countries (deduced from [1](https://www.gov.uk/eu-eea) and [2](https://www.europeanpaymentscouncil.eu/sites/default/files/KB/files/EPC064-16%20Map%20of%20SEPA%20countries%20and%20territories.pdf)):
Monaco
San Marino
Switzerland
Not sure about some other islands or oversees countries listed under the [second link](https://www.eur

[2017-09-25 07:19] jvos commented on #450
Thanks for the pull request, i'm curious !

[2017-09-26 06:52] systopia commented on #449
@tttp Could you confirm that the fix above works for you? If this was indeed the problem it should've mapped any potential cycle day before the 10th to the 1st.

[2017-10-02 15:43] systopia opened #452 "Remove CRM-14114 workaround"
As [CRM-14114](https://issues.civicrm.org/jira/browse/CRM-14114) has been fixed for quite a while, we can remove the workaround introduced with #225.

[2017-10-02 15:49] systopia commented on #449
@Fabian-SYSTOPIA has tested this positively

[2017-10-02 15:50] #356 closed

[2017-10-02 15:50] #452 closed

[2017-10-02 16:31] systopia commented on #356
released with 1.2.5.beta2

[2017-10-02 16:32] systopia commented on #449
released with 1.2.5.beta2

[2017-10-02 16:37] systopia commented on #450
If it's o.k. with you guys, I'll not "fix" this and wait for #243 to be fully tested - I don't want to cause confusion with the users twice...

@DanielvV / @jvos  Would you be able to help test #243?

[2017-10-02 16:37] #450 closed

[2017-10-02 16:41] systopia commented on #95
I had started working on this (see https://github.com/systopia/org.project60.sepa/tree/dev_95) but then the client backed out. If there is funding, I'll be happy to complete this - especially if somebody could help with the testing....

[2017-10-03 12:03] DanielvV commented on #243
**4. Delete SEPA Mandates**
If this permission is set, but the _Delete SEPA transaction groups_ permission is unset the Mandate Options -> Delete button is not shown
If this permission is unset, but the _Edit SEPA mandates_ permission is set the mandate_action_delete(); can still be succesfully called from the JS browser console

[2017-10-04 11:53] DanielvV opened #455 "`CRM_Core_OptionGroup::getValue()` is deprecated"
Gives warning in log:
[code]
See civicrm-core [CRM/Core/OptionGroup.php#L375-L423](https://github.com/civicrm/civicrm-core/blob/master/CRM/Core/OptionGroup.php#L375-L423)
Documentation: https://docs.civicrm.org/dev/en/master/framework/pseudoconstant/

[2017-10-05 17:00] systopia commented on #430
There still seems to be an issue, the changes seem to cause issues with mandates with a non-monthly interval to collect monthly.

Reason is that the process setting the mandates from status ``FRST`` to ``RCUR`` upon the closing of the ``FRST`` group was damaged.

[2017-11-09 15:47] systopia opened #457 "Create hook to modify txgroup reference"
We can already use the hook ``create_mandate``  to modify the mandate's reference. However, there is no hook yet to do the same for the ``txgroup`` reference.

[2017-11-23 15:43] DanielvV commented on #312
On my fork I have implemented this feature, but my changes involve changing the data model.
See https://github.com/Project60/org.project60.sepa/compare/master...DanielvV:dev_add_mandate_account_holder

[2017-11-23 18:23] systopia opened #458 "Batching algorithm multiplies groups"
There is a bug in the batching algorithm that causes issues during the assignment of new contributions to groups. If the collection is delayed (e.g. because of a weekend), and the adjusted collection date is outside of the horizon, the existing group is not found.

In normal batching mode this is not a big deal, it just creates one big group that then replaces the old one. The only artifact is tha

[2017-12-05 06:43] systopia opened #459 "Collection cycle violated"
If the start date of the mandate, and the ``first_execution_date`` is too far apart, the correct collection interval might be violated. This can happen when you simply haven't collected a new mandate, or if you migrated mandates with a start date in the past.

[2017-12-05 07:20] systopia commented on #459
Released with `` 1.2.5.beta4``

[2017-12-05 07:20] #459 closed

[2017-12-05 07:20] systopia commented on #458
Released with `` 1.2.5.beta4``

[2017-12-05 07:20] #458 closed

[2017-12-05 07:21] systopia commented on #457
Released with ``1.2.5.beta4``

[2017-12-05 07:21] #457 closed

[2017-12-05 07:22] systopia commented on #430
fixed with #430, released with ``1.2.5.beta3``

[2017-12-05 07:22] #430 closed

[2017-12-11 19:30] systopia opened #460 "Issues with deferred collection dates: duplicate groups"
If you are using the ``exclude weekends`` settings or have implemented the ``defer_collection_date`` hook you might experience the following: once a (deferred) RCUR group has been closed, a new group with the same (or similar) contents is created if you hit update right after you closed it.

[2017-12-14 11:11] tttp commented on #95
Hi,
On our side, we did a "brutal" test: simply put a "NOTPROVIDED" in the xml (ie. ignoring the real BIC)
and it works. We might loose donations from monaco or san marino, so be it ;)

Seriously, I'm keeping an eye on it, but it works fine it seems

[2017-12-14 11:12] tttp commented on #447
I would vote to continue keeping FRST too, as it's a group that has higher changes to have problems and rejections, we tend to watch it more carefully

We use it as well for analytics, ie "real" RCUR are more likely than "FRST" that might bounce

[2017-12-14 11:14] tttp commented on #446
So I did look at it a bit further: it's NOT going to be mandatory, there is at least one big bank in the NL that is going to implement it, but it might take at least another half a year before it's mainstreamed enough.

To be continued...

[2017-12-15 14:37] tttp commented on #449
Actually, the problem we experienced is similar, but related to the API (it defaults to 1, it should default to the first available cycle_das + notice + buffer, as the PP does)

@scardinius, can you update the API to act accordingly?

(context: we are developping a new donation interface that pushes the donations to civi via the api)

[2018-01-08 17:59] systopia opened #461 "More robustness for SEPA tokens"
In some cases (e.g. contact in trash) the token calculation crashes. This exception should be caught, otherwise it can abort an entirely different operation for no good reason.

[2018-01-09 10:55] psampont opened #462 "Postal address required for Swiss mandates"
Since January 2018, our bank (ING) ask to add a postal address in SEPA file for Swiss mandates.
Are there other people with the same problem with other banks?

Currently we need to add the mention manually in the Telelink software of the bank.

[2018-01-09 14:07] systopia commented on #462
Thanks @psampont.

I'm not sure if this is the rule for all of Switzerland or just your bank, but Switzerland is not a "full" SEPA country anyway, and they are known to have some quirks in their implementation.

I would suggest that you set up some custom checking in your system to make sure every contact with a Swiss SEPA mandate has a proper postal address. I think it's unlikely that we'll inclu

[2018-01-09 16:23] Detsieber commented on #462
I already heard that since last year, the SEPA regulations require a
postal address when debiting Swiss mandates.

We have at our organisation (Digitalcourage) a small number of SEPA
mandates from Swiss donators, but fortunately they were processed in the
past without problems.
However, since CiviSEPA should comply with current regulations, it would
be helpful to do an update to the extension.

I

[2018-01-29 09:37] scardinius opened #463 "Empty payment processor field after cloning or manual adding mandate"
Hi,

in some cases payment processor of civicrm_contribution_recur is empty.

When mandates derived from contribution page, then everything is fine, civicrm_contribution_recur has payment processor.

In opposite, we have two cases when payment processor is empty:

1. cloning existing valid mandate
    * cloned mandate should have the same payment processor
2. adding new mandate by using button `Re

[2018-01-31 14:56] scardinius commented on #463
I thought about it again and this indeed is not a error. "Manual" means not automatic, not by payment processor.

[2018-02-01 11:51] scardinius commented on #463
I'd like to reopen this issue. I found out that `civicrm_sdd_creditor` already has field `payment_processor_id` but it is not used. @tttp Is there a plan to use it?

How it could work:

* possibility to set up payment processor at creditor setting page. For testing creditors, it should be only testing payment processor. The same for production creditors/processors
* add setting payment_processor_i

[2018-02-02 10:59] scardinius opened #464 "In progress status for One-Off is not compatible with CiviCRM assumptions"
Hi,

As you known SEPA set for One-Off contribution an `In progress` status. This means that it's not possible to find such contributions at `Find Contribution` civicrm/contribute/search?reset=1

https://github.com/civicrm/civicrm-core/blob/eaf5d8e7f0dcd45c46d501a701194c75d3187dd6/CRM/Contribute/BAO/Query.php#L943

[code]

@tttp I see two solutions:

1. change SEPA behavior or
2. change CiviCRM as

[2018-02-06 09:30] #461 closed

[2018-02-06 09:30] systopia commented on #460
released with ``1.2.5``

[2018-02-06 09:30] #460 closed

[2018-02-06 10:19] systopia opened #465 "Create "Mandates" tab in summary view"
This should list all the contact's mandates and provide links to the edit screen.
This then should also remove the 'add sepa contribution' button in the contribution screen

[2018-02-06 16:04] #257 closed

[2018-02-06 16:08] systopia commented on #464
@scardinius I'd prefer to "change CiviCRM assumptions". I'll ask Tim...

[2018-02-06 16:10] systopia commented on #455
Thanks for pointing it out. PRs welcome :)

[2018-02-06 16:12] DanielvV commented on #455
Its already there: #454 :)

[2018-02-06 16:13] systopia commented on #437
Current ``master`` should be clean. @rthouvenin Please re-open if problem persists.

[2018-02-06 16:13] #437 closed

[2018-02-06 16:15] systopia commented on #406
Sorry, I can't reproduce this.

@mielert: Please re-open with screen shot / instructions how to reproduce.

[2018-02-06 16:15] #406 closed

[2018-02-06 16:16] systopia commented on #405
button will be moved to a new tab (#465), that should fix it...

[2018-02-06 16:17] systopia commented on #403
@Detsieber Can we close this?

[2018-02-06 16:24] systopia commented on #36
@tttp Please re-open if this is still relevant

[2018-02-06 16:24] #36 closed

[2018-02-06 16:24] systopia commented on #2
@pdelbar Please re-open if this is still relevant

[2018-02-06 16:24] #2 closed

[2018-02-06 16:26] rthouvenin opened #466 "Token values computed even if they are not use"
The value for the tokens provided by the extension is computed for each contact of the mailing, even if the mailing does not use any of the tokens. This has 2 drawbacks:

 - Performance overhead when the mailing is sent. This is normally small, unless the list of SEPA donors is really large.
 - More importantly: if there is a fatal error while computing the token values, this prevents the mailing

[2018-02-06 16:27] systopia commented on #455
@DanielvV I knew I forgot something :) Thanks a lot, it's merged

[2018-02-06 16:27] #455 closed

[2018-02-06 16:33] Detsieber commented on #403
The Ssepa Extension is deprecated and won't receive further updates. Especially, it is not ready for CiviCRM 4.7. I recommend migrating to CiviSEPA!

However, that migration is not trivial - if anybody out there needs support in changing to CiviSEPA / Project60, please contact me: I have outlined a migration plan, containing the manual worksteps and some sql statements for converting some of the d

[2018-02-06 16:33] #403 closed

[2018-02-06 16:59] systopia commented on #416
I implemented the change in branch ``dev_416``, and an active recurring_contribution will now always be in status 'in Progress' instead of 'Pending'. However, I haven't implemented the idea, to leave the recurring_contribution in 'Pending' until the first collection - feel free to add that if you want....

@tttp  Could you test this?

[2018-02-06 18:38] tttp commented on #464
I did a pr to civicore

On 6 Feb 2018 17:08, "SYSTOPIA" <notifications@github.com> wrote:

[2018-02-07 11:30] #466 closed

[2018-02-07 11:59] systopia opened #468 "Expose contributions's txgroup"
If a SEPA contribution is batched in a group, it should be exposed on the UI.

[2018-02-07 13:10] tttp commented on #464
PR pushed, discussion ongoing https://github.com/civicrm/civicrm-core/pull/11640

[2018-02-07 13:22] systopia commented on #468
I implemented this in ``dev_468``. @tttp / @rthouvenin Is this what you had in mind?

Remeber: this branch has permissions now, don't forget to set them....

[2018-02-07 14:08] bjendres opened #469 "Automated tests"
There should be automated tests.

[2018-02-07 14:09] systopia commented on #469
@pbatroff: Could you have a look in ``dev_469``?

[2018-02-09 13:38] mielert commented on #406
Sorry, I don't have access to a CiviCRM-instance any more.

[2018-02-10 09:00] systopia commented on #314
@scardinius: I've finally gotten around to include your multiple file format code into the current master. I had to adapt it a bit, but all the concepts are the same. Thanks a lot!

If you want, have a look at the ``citibank-pl`` and ``bphpl`` formats and see if the specs are still up to date. I plan to release this with ``1.2.6``

[2018-02-10 09:01] systopia commented on #298
This is now in ``master`` with #314, and should be released with ``1.2.6``

[2018-02-10 09:05] systopia commented on #462
We created the "pain.008.003.02 (EBICS-3.0 RCUR/CH)" format in the current ``master``, that does two things:
* all transactions will be exported as ``RCUR``
* Swiss IBANs will trigger adding the address to the file

@psampont Could you test it? Be careful, the ``master`` branch has a lot of changes that have not been tested well.

[2018-02-10 09:07] systopia commented on #229
With #314 it will become easier to implement specific naming schemes per format.

[2018-02-10 10:04] systopia opened #470 "Adjust payment instruments"
Currently you can create illegitimate contributions via the UI by simply setting a SEPA payment instrument for non-SEPA contributions - or vice versa.

This small adjustment should improve the UI by:
 * removing all other payment instruments from the dropdown for SEPA contributions
 * removing all SEPA payment instruments from the dropdown for other contributions, and the new contribution form

[2018-02-12 07:30] bjendres opened #471 "Make sure 'in Progress' status exists"
Apparently there is the possibility that CiviCRM-core will remove the 'in Progress' contribution status in the near future. Since that would immediately break the CiviSEPA module, we'll have to add code to (re)create this status.

See https://github.com/civicrm/civicrm-core/pull/11640

[2018-02-12 09:32] psampont commented on #462
Thanks. It seems to work. The Swiss mandate has been exported with his address.
But, actually, I can't test it in production with the bank.

PS. After the update, the parameter PAIN Version of my bank has become empty. Whereas before, he was at PAIN.008.001.02 (CDD EBICS-3.0) So, It may be necessary to review the update procedure to not lose this value.

[2018-02-12 09:38] systopia commented on #462
But, actually, I can't test it in production with the bank.

That's good to hear, thanks for checking.

@psampont : I'm not quite sure which parameter you mean, could you be more specific? Are you talking about the file or the creditor settings? Or something else?

[2018-02-12 09:44] psampont commented on #462
I was talking about the parameter 'Pain Version' in 'Add/Edit Creditor' : 'Creditor Information' in page https://localhost/civicrm/admin/setting/sepa

[2018-02-12 10:50] systopia commented on #243
@DanielvV I'll have a look, thanks

[2018-02-12 11:01] systopia commented on #462
Ah, I see. The problem was, that 'PAIN.008.001.02 (CDD EBICS-3.0)' and 'pain.008.003.02 (COR1 EBICS-3.0)' were identical, so I disabled one of them. That was probably the one you used...

@psampont Does that make sense?

[2018-02-13 08:26] psampont commented on #462
Yes. No problem.

But, if 'PAIN.008.001.02 (CDD EBICS-3.0)' is disabled, the Pain Version field should be adapted to the creditors database during the upgrade.

[2018-02-14 10:35] systopia commented on #371
Needs to be merged again into ``1.4``

[2018-02-14 16:51] systopia commented on #371
I've decided to go for a new implementation, see ``dev_371`` branch: one currency per creditor, no mixed currency within the same creditor allowed.

Currently being tested.

[2018-02-15 16:21] jensschuppe opened #472 "Invalid SQL query in prepareCreateForm(): for SELECT DISTINCT, ORDER BY expressions must appear in select list"
The MySQL query defined in CRM/Sepa/Page/CreateMandate.php:239 is invalid for MySQL with ONLY_FULL_GROUP_BY, and for other SQL dialects as well:

[code]
This causes the mandate form (e.g. for adding a mandate for a contact) not opening.

Including the ORDER BY field `creation_date` in the SELECT clause appears to solve the problem without side effects:

[code]

[2018-02-23 17:07] systopia opened #473 "DtOfSgntr in XML lists validation_date"
The ``DtOfSgntr`` tag in the XML pain format should list the date of the signature, which is the ``date`` field of the mandate. It does, however, currently list the ``validation_date``.

[2018-02-23 17:08] systopia commented on #473
This is mitigated by the fact that in most scenarios these two dates are identical.

[2018-03-06 12:39] rthouvenin commented on #472
Noticed the same problem in our setup today after upgrading. It's quite serious as this prevents our staff from manually recording SEPA donations.

[2018-03-06 12:41] scardinius commented on #472
It's enough to update query to this one:

[code]

[2018-03-07 08:36] DanielvV commented on #310
Ideally, mandates should stop automatically when a contact is set to deceased, (or deleted).
A message should be shown to the user that the mandate is stopped.

Or, alternative:
Only show a message (and ideally prevent delete or set to deceased) so the user can manually stop the mandate.

The mandates are not visible on a contacts main view, so it is easily forgotten to remove the mandate if no me

[2018-03-14 13:32] systopia commented on #310
With the next CiviSEPA version there will be an extra tab for mandates. Maybe we can add a warning there...

[2018-03-14 13:35] #472 closed

[2018-03-14 13:39] systopia commented on #464
It's merged :)

[2018-03-14 13:39] #464 closed

[2018-03-23 08:31] psampont opened #477 "Problem with 'In Progress' status when closing groups"
With CiviSEPA 1.2.5 on CiviCRM 4.6.36, we have a problem with contribution status when closing a SEPA groups. The first contributions go well in the 'In Progress' status. But the last ones remain in the status 'Pending'.

I note that the closing process is stopped after several hundred mandates.

[2018-03-23 11:01] scardinius opened #478 "Cancelling mandate doesn't remove contributions on status In progress from active batch"
Hi,

This case occurs when you cancel mandate which already has a contribution in active batch. And when contribution has `In Progress` status. The problem is that SEPA searches for only Pending contributions

I prepared #476 PR which use Pending and In Progress statuses.

[2018-03-29 14:49] psampont commented on #477
Small precision: The process stops after the 250th recordings.

My workaround is to disable the option 'Large Groups'. So, every contribution status are correctly changed to 'In progress'.

[2018-04-04 12:49] scardinius opened #479 "SDD payment processor doesn't use Exclude Weekends setting"
Hi,

When cycle day is in weekend then collection date is deferred to the nearest Monday date (with assumption that `Exclude Weekends` setting is on). This behavior works fine during updating recurring mandates from sepa dashboard.

However it doesn't work when mandate derived from contribution page configured with sepa payment processor because first contribution is created with undeferred date

[2018-04-12 15:10] scardinius opened #481 "Links at mandate should be restored after each event at Contributions tab"
After change status of a contribution whole Contributions tab is reloaded. And therefore link "edit mandate" disapears. From links "View" and "edit mandate" there are default links "View", "Edit" and "Cancel".

This causes potentially unwanted case when user clicks at "Cancel" link. Then there is a discrepancy in database - recurring contribution is cancelled but mandate is still RCUR.

[2018-04-18 12:33] systopia opened #482 "Group closing incomplete when using "large group" support"
When using the "large group" support (#430), there is an issue when closing the groups. It seems only the first 250 are closed, due to a bug in the SQL statement.

[2018-04-24 09:02] bjendres opened #483 "Expose 'terminate mandate' to API"
Similar to #413, we also want to expose the ``terminateMandate`` function.

[2018-04-24 10:18] systopia opened #484 "Show contribution status in group list"

[2018-04-25 10:38] #482 closed

[2018-04-27 05:27] systopia opened #485 "Allow non-SEPA mandates (PSP)"
The idea is to allow a creditor and all attached mandates to be tagged as 'non-SEPA', which would disable the SEPA related verification and lookup procedures. This way the system could also be used for non-SEPA DD collection via PSPs.

Obviously this can only be an extra option that *must not* interfere with the existing SEPA functionality.

[2018-04-27 06:03] systopia commented on #479
Thanks, @scardinius, I'll release it with @1.2.6@

[2018-05-09 08:32] jensschuppe opened #486 "Check for "navID" being set in CRM_Utils_SepaMenuTools::getMaxNavID()"
PHP notices "Undefined index: navID in CRM_Utils_SepaMenuTools::getMaxNavID()" are being thrown while crawling the menu tree for finding the maximum "navID" for  items in the navigation menu tree when there are menu items without a "navID" set.

Not sure whether this stems from incorrect implementations in other extensions (i.e. them not setting a "navID" attribute for a menu item), but it's quite

[2018-05-09 08:55] systopia commented on #486
PRs welcome :)

[2018-05-09 09:31] francescbassas opened #487 "Record SEPA Contribution button dissapears on tab switching"
Steps to reproduce:

1. Load a contact summary page
2. Switch to contribution tab (Record SEPA Contribution button appears correctly)
![first_tab_visualization](https://user-images.githubusercontent.com/1064675/39807247-1a592e86-537c-11e8-9e9f-ed53df055633.png)

3. Switch to any other tab

4. Return to contribution tab (Record SEPA Contribution button it is not there anymore
![second_tab_visualiza

[2018-05-09 09:51] francescbassas commented on #487
Looking at [Summary.sepa.tpl](https://github.com/Project60/org.project60.sepa/blob/1.2.5/templates/CRM/Contact/Page/View/Summary.sepa.tpl) I can see on [line 46](https://github.com/Project60/org.project60.sepa/blob/1.2.5/templates/CRM/Contact/Page/View/Summary.sepa.tpl#L46):

    contribution_snippet_changed = true; // important to do this BEFORE changing the model

In previous versions maybe it w

[2018-05-09 15:40] systopia opened #488 "PaymentProcessor: Couldn't create SEPA mandate"
When using the SDD payment processor to create a recurring mandate you get:

``
8000: Couldn't create SEPA mandate. Error was: Expected one Contact but found 25
``

Observed on ``1.2.4`` and ``1.2.5``, CiviCRM ``4.6.21`` and ``4.7.31``

[2018-05-09 15:42] systopia commented on #488
It seems that [this code](https://github.com/Project60/org.project60.sepa/blob/1.2.5/CRM/Core/Payment/SDD.php#L125-L132) no longer yields the contact ID. It seems it's now in ``$params['contactID']``.

[2018-05-16 07:47] systopia commented on #488
Seems to work, will be released with ``1.2.6``

[2018-06-11 16:46] systopia opened #491 "More tokens"
We already have some "last mandate" tokens, but the following ones would also be helpful:
 * ``amount_text``: currency-formatted amount
 * ``first_collection``: should also work if first contribution is not yet set
* ``next_collection``: as calculated

[2018-06-15 14:23] systopia opened #492 "Retry debiting failed collections"
There should be semi-manual support to retry the collection of failed direct debits.

[2018-06-28 08:45] scardinius opened #494 "Cancel and Set End Date actions should check status of group"
As we know It's possible to cancel or terminate (set end date) active mandate. There is a mechanism which removes from sepa groups any Pending donations (should be also In progress #478).

There is also configuration "Only Completed Contributions"

* when "off" - at the end of process uploading xml file there is an action "Mark Received" which changes statuses from Pending to Completed
* when "on"

[2018-07-02 11:28] grince opened #495 "Update from 0.1 to 1.2.5 fails"
Hi,

I took over a site with CiviCRM and Payment Processors from a former admin. One of my first steps was to (successfully) update the Drupal Website and CiviCRM to their latest respective versions. So, I have CiviCRM-4.6.37.

Then, CiviCRM mentioned that my Extension for SEPA-Payment Processing is outdated and I should update it. I was happy about it and let it do it's work.
But now, CiviCRM doe

[2018-07-02 11:49] xurizaemon commented on #495
Rephrasing my advice from chat, in case it was unclear there - this is what I think you should do:

- Move the old `sepa_dd` extension folder (which I think your site has obtained from civicrm-community/sepa_dd repo, but which is now very outdated) to some other location
- Ensure the copy of this repo you have installed is the currently recommended release (from CiviCRM.org or here)
- Check the DB

[2018-07-02 12:03] Detsieber commented on #495
Hi grince,

there is one very hard "hack" to get your civicrm up and running again
(this requires access to your database):

Look at the database table civicrm_payment_processor and set the flag
is_active to "0" for those with class name "Payment_SEPA_DD".

Then, you should be able to start your civicrm again, and get everything
back to work.

Good luck

Detlev

Detlev Sieber
civiservice.de
Rheing

[2018-07-02 12:09] xurizaemon commented on #495
Nice tip @Detsieber!

In case it's not clear - CiviCRM will be trying to load `CRM/Core/Payment/SEPA/DD.php` because it sees that `Payment_Sepa_DD` classname in the DB (plus Civi's class resolving voodoo). So disabling this payment processor will circumvent that error during bootstrap.

Once you get up and running, you'll need to reconfigure each payment page to use the new payment processor class

[2018-07-02 16:16] tttp commented on #495
Ouch, quite a jump of version @grince!

I don't recall what civicrm-community was meant to be, but for sepa, you should get everything working and upgrading using the official sepa version

and yes, @Detsieber seems to be the way out of that situation.
X+

[2018-07-03 14:12] grince commented on #495
I was able to upgrade after deleting sepa_dd as payment processor, so that went well. in the extensions-directory, it is still called "sepa_dd", but i guess that is less problematic, since info.xml is the new one.

[2018-07-03 14:12] #495 closed

[2018-07-06 06:48] grince opened #497 "After upgrading from (old Version) to 1.2.5, I have no SEPA Payment Processor"
Hi,

after successfully upgrading to version 1.2.5 of sepa_dd, I'd have expected to see a new Payment Processor in the list. But here is no SEPA-related Payment processor now, even when I have Creditor in the CiviSEPA Settings.
how can I find out what went wrong there?

[2018-07-06 11:41] grince commented on #497
Whatever it was - after disabeling the module, renaming "sepa_dd" to "org.projec60.sepa", clearing the cache and re-enabeling the module I have the payment processor - thank you ;)

[2018-07-06 11:41] #497 closed

[2018-07-27 14:53] systopia opened #498 "Refactor payment processor"

[2018-07-30 09:21] systopia opened #499 "SDD PaymentProcessor broken with 5.3.1?"
There are indications that the SDD payment processor stopped working with CiviCRM ``5.3.1`` under certain circumstances. I have started refactoring the payment processor in #498.

If you're using the payment processor with any ``5.x`` version, please test if it still works.

I would be grateful you could post your results here, providing the following data:
 * CiviSEPA version
 * CiviCRM version

[2018-07-30 09:47] Detsieber commented on #499
Tested and working fine for:
CiviSEPA 1.2.6-alpha3
CiviCRM 5.3.1
PHP 7.0
Donation page

[2018-08-06 15:53] MichPoe commented on #499
CiviCRM 5.4.0
SEPA Direct Debit (org.project60.sepa) 1.2.5
I get following error message when trying to add a new Donation or trying to add a new donation member:
"CRM_Core_Payment_PayPalImpl: Payment processor type is not defined!"
Maybe this is related?

[2018-08-07 05:36] Detsieber commented on #499
I get notices in the Drupal Watchdog Table:

[2018-08-07 06:05] Detsieber commented on #499
I would recommend updating to the latest release: 1.2.6.alpha3

Best
Detlev

Am 06.08.2018 um 17:53 schrieb MichPoe:

[2018-08-08 09:17] MichPoe commented on #499
Hi Detlev. If I copy 1.2.6.alpha3 into my ext folder and press "aktualisieren" - unf. it is not detected.
Is there a special trick to do this? (I am sure I have the right folder and have deleted or renamed the older versions)

[2018-08-08 09:30] MichPoe commented on #499
I managed to make the 1.2.6.alpha3 work but still get the same error messages, unfortunately.

[2018-08-08 09:31] MichPoe commented on #499
CRM_Core_Payment_PayPalImpl: Payment processor type is not defined!
(We are not using PayPay or other payment processors)

[2018-08-22 14:02] systopia opened #500 "CiviSEPA collects cancelled contributions"
If you create a batch, all the newly created SEPA contributions will be in status 'Pending' until the group is closed. When closing the group, *all* contributions will be collected regardless of their status.

It's not part of the intended workflow, but it's really confusing for the user, that contributions (s)he set e.g. to 'Cancelled' are still being collected. The right way, of course, would be

[2018-08-31 16:43] systopia opened #501 "Flexible mandate links"
We would like to add a new link structure linking ``civicrm_sdd_mandate`` to any number of entities (entity_id/entity_table).

[2018-08-31 19:33] tttp commented on #501
What is the use case of sharing the mandates between several entities?

[2018-09-03 07:17] systopia commented on #501
Well, I was thinking of using this link for different aspects, e.g. class ``REPLACE`` to link to another mandate that is being replaced by a new one (e.g. due to bank account changes). At the same time, I plan on linking mandates to e.g. memberships. So here there's already two links for the same mandate at the same time - but with different classes.

But there might be even more. If a mandate was

[2018-09-03 07:19] bjendres opened #502 "Refactor entity infrastructure"
The structures used to inject CiviSEPA's entities goes back to CiviCRM ``4.2``, where there wasn't any support for extension GenCode and entity management.

This needs to be refactored and cleaned up.

This will probably be implemented together with #501, which introduces a new entity.

[2018-09-10 14:41] systopia opened #503 "Mandate cancel reason not shown"
Due to some changes in CiviCRM core the cancel reason for mandates (stored as a note for the recurring contribution) is not shown any more in the mandate options.

Details: the API call ``Note.get`` fails with parameter ``entity_table=civicrm_contribution_recur``.

[2018-09-24 12:09] patf opened #505 "Creditor gets reset in multi-creditor environments"
When CiviSEPA closes transaction groups of type OOF or FRST, it updates the mandate status to SENT or RCUR respectively. In environments with multiple SEPA creditors, because the API does not check whether it is creating a new mandate or updating an existing one, this update causes the creditor to be set to the default creditor, even when a different creditor was selected previously.

[2018-09-25 06:33] systopia commented on #505
@patf Thanks for reporting/fixing. I have adjusted the fix slightly (see [dev_505_master](https://github.com/Project60/org.project60.sepa/tree/dev_505_master)), could you have another look please?

[2018-09-25 08:02] patf commented on #505
That makes sense to cover cases where someone uses the BAO class directly. LGTM!

[2018-09-27 14:40] adanielvv opened #507 "Sepa batch/group get created for sent contributions"
A batch was sent with collectiondate set to tomorrow (28), and while closing all contributions were set to Completed.

Clicking on Update recurring creates a new batch, set to the standard collectiondate, which is yesterday (26). It should create a batch which needs to be collected on the 26th, next month.

Settings:
Cycle Day(s) : 26
Only Completed Contributions: yes
Large Groups: yes
Improve pay

[2018-09-27 14:52] systopia commented on #507
It sounds like you missed the original collection date (26th). This should be an absolute exception, since it messes up the scheduling - as you observed. You should have received a warning when you did that.

Background: The system will generate the contributions to collect if they're not there already. For this, it uses the collection date. If you change the collection date *and* use the 'only co

[2018-10-01 07:17] systopia opened #508 "Collection day wrong in 'edit mandate'"
For annual contribution, the 'edit mandate' screen lists the collection day as "{cycle_day} {current_month}", which is obviously wrong. It should only be the "{cycle_day}".

[2018-10-05 06:32] Detsieber commented on #462
Do I understand correctly, that this is only implemented with "master", but not with "1.2.6 beta1"?

If so, when will that feature be released?

[2018-10-05 06:51] systopia commented on #462
This will not be released with the ``1.2`` branch, because it relies on infrastructure only available in ``1.4``. However, I'm very hopeful that we can release an alpha version of ``1.4`` very soon.

[2018-10-09 10:34] systopia commented on #441
Will be released with ``1.4``

[2018-10-09 10:34] #441 closed

[2018-10-09 10:38] systopia commented on #492
Will be released with ``1.4``

[2018-10-09 10:38] #492 closed

[2018-10-09 10:44] francescbassas commented on #487
@systopia, has anyone else come across this problem?

[2018-10-09 10:50] systopia commented on #501
First draft will be in ``1.4``

[2018-10-09 10:52] systopia commented on #314
Will be released in ``1.4``

[2018-10-09 10:52] #314 closed

[2018-10-09 11:03] systopia commented on #243
I'd like to close this general ticket.

@adanielvv: Could you please create a new one for the delete mandate bug?

[2018-10-09 11:03] #243 closed

[2018-10-09 11:05] systopia commented on #431
Will be released with ``1.4``

[2018-10-09 11:05] #431 closed

[2018-10-09 11:05] #298 closed

[2018-10-09 11:07] systopia commented on #465
Will be released in  ``1.4``

[2018-10-09 11:07] #465 closed

[2018-10-09 11:09] systopia commented on #405
Obsolete with #465

[2018-10-09 11:09] #405 closed

[2018-10-09 11:17] francescbassas commented on #487
Seems related with https://github.com/Project60/org.project60.sepa/issues/405

[2018-10-09 11:19] systopia commented on #491
Will be released with ``1.4``

[2018-10-09 11:19] #491 closed

[2018-10-09 11:21] systopia commented on #470
Will be released with ``1.4``

[2018-10-09 11:21] #470 closed

[2018-10-09 11:30] systopia commented on #487
Yes, but it won't be fixed, since this will be obsolete with ``1.4`` where SEPA has it's own tab.

[2018-10-09 11:30] #487 closed

[2018-10-09 11:38] systopia commented on #478
This is by design. Status ``In Progress`` means (in CiviSEPA) that the contribution has already been sent to the bank, hence it cannot be recalled any more.

@scardinius: Does that answer the question?

[2018-10-09 11:43] systopia commented on #440
Should be fixed with #441 in ``1.4``

[2018-10-09 11:43] #440 closed

[2018-10-09 11:44] francescbassas commented on #487
Great @systopia.

Please consider that probably `sepa_modify_summary_tab_contribution` is still massively called due to listener in `/templates/CRM/Contact/Page/View/Summary.sepa.tpl`:

`cj("#mainTabContainer").bind("DOMSubtreeModified", sepa_modify_summary_tab_contribution);`

It should only be called when mandate tab is clicked. Do we open an other issue?

[2018-10-09 11:45] systopia commented on #382
@tttp is this still relevant?

[2018-10-09 11:45] #382 closed

[2018-10-09 11:45] systopia commented on #380
@scardinius Can you still reproduce it with the (upcoming) ``1.4``?

[2018-10-09 11:46] systopia commented on #285
There is now #492 in the upcoming ``1.4``.

[2018-10-09 11:46] #285 closed

[2018-10-09 11:46] #283 closed

[2018-10-09 11:50] systopia commented on #484
Released with ``1.4`` and ``1.2.6``.

[2018-10-09 11:50] #484 closed

[2018-10-09 14:33] systopia commented on #485
Will be released with ``1.4``

[2018-10-09 14:33] #485 closed

[2018-10-09 15:09] systopia commented on #380
Couldn't reproduce with upcoming ``1.4``, @scardinius please re-open if you can.

[2018-10-09 15:09] #380 closed

[2018-10-09 15:11] systopia commented on #398
The solution here would be to create a separate file format, with the flag set to ``true``. Does anyone need this?

[2018-10-09 15:16] #473 closed

[2018-10-09 15:17] systopia commented on #473
Changed. Will be released with ``1.4``

[2018-10-09 15:18] systopia commented on #486
Pulled and fixed with https://github.com/Project60/org.project60.sepa/commit/a60f3c0c80a4ad35a23a515ec36755663f391a63, will be released with ``1.4``

[2018-10-09 15:18] #486 closed

[2018-10-09 15:45] systopia commented on #481
I couldn't reproduce the issue, but since we have a separate SEPA tab now, I stripped the links in the 'Contributions' tab altogether. I hope this should solve the issue

Will be released in ``1.4``

[2018-10-09 15:45] #481 closed

[2018-10-10 10:33] #508 closed

[2018-10-10 10:39] #501 closed

[2018-10-10 10:43] systopia opened #511 "CustomSearch: Find contact by iban / mandate reference"

[2018-10-10 11:13] #511 closed

[2018-10-10 11:36] systopia commented on #462
I added the new format "pain.008.003.02 with Address (EBICS-3.0)" with ``1.4``

[2018-10-10 11:36] #462 closed

[2018-10-10 11:37] #478 closed

[2018-10-10 12:08] systopia commented on #505
Merged compiled fix to ``master``, @patf  could you verify plz?

[2018-10-10 14:21] patf commented on #505
Fix is verified for master and the 1.2 branch.

[2018-10-10 14:21] #505 closed

[2018-10-11 18:35] systopia commented on #498
I have now implemented a new "next generation" payment processor, that will ship with ``1.4``. However, it remains to be seen whether it will work in all scenarios.

[2018-10-11 18:35] #498 closed

[2018-10-11 18:37] systopia commented on #488
Implemented a new payment processor with #498, that should solve this problem.

[2018-10-11 18:37] #488 closed

[2018-10-11 18:38] systopia commented on #479
Should be released with ``1.4``

[2018-10-11 18:38] #479 closed

[2018-10-12 08:54] systopia commented on #487
Thanks @francescbassas.

I know, we still want to mark the SEPA mandates in the recurring contributions list, so they don't get confused with "normal" recurring contributions.

Go ahead, there is definitely room for optimisation.

[2018-10-16 07:32] systopia opened #512 "IBANs with leading IBAN accepted"
IBANS that still have a leading "IBAN" at the front are accepted by the validator, e.g. ""IBANPT5000350216....". This is obviously wrong.

This can happen when people copy&paste stuff from some document, and will later on cause issues when trying to submit the file.

[2018-10-16 07:57] #512 closed

[2018-10-16 07:58] systopia commented on #512
The reason was, that the underlying ``php-iban`` library accepts that as well. I have added an extra check for this case.

[2018-10-16 14:54] patf opened #513 "Signature date changes to current date on any update"
The signature date (`civicrm_sdd_mandate.date`) is changed to the current date whenever a mandate is updated. This behaviour can be reproduced with an API call to `SepaMandate.create` with `id={existing_mandate_id}`.

For recurring mandates that means the signature date will be updated to the current date during the first debit (when the mandate status is updated from FRST to RCUR).

I was able to

[2018-10-16 16:36] systopia commented on #513
@patf Thanks for reporting! Could you please verify that https://github.com/Project60/org.project60.sepa/commit/ce876399df9adc6b9e6b9f8168c71a4b81a77d27 fixes it?

[2018-10-19 08:38] #513 closed

[2018-10-19 08:39] systopia commented on #513
@patf thanks.

will be released with ``1.4.alpha2``

[2018-10-19 08:39] systopia commented on #512
will be released with ``1.4.alpha2``

[2018-10-19 08:40] #503 closed

[2018-10-19 08:40] systopia commented on #503
will be released with ``1.4.alpha2``

[2018-10-22 13:16] systopia commented on #505
FYI: Here's a quick SQL query to see whether it has happened in your environment:
[code]

Be aware that this only works on RCUR mandates, and is not necessarily complete.

[2018-10-31 13:09] systopia opened #514 "Closing transaction groups changes ContributionRecur status"
Recurring mandates consist of the SepaMandate entity, linked to a ContributionRecur entity. It is important, that this ContributionRecur maintains the status ``Pending`` while the mandate is active.

Apparently, CiviCRM core has (secretly?) changed it's behaviour with ``4.7``, and now automatically sets the a ContributionRecur's status to ``In Progress`` whenever a linked contribution is set from

[2018-11-02 13:28] bjendres opened #515 "Mandate reference validation"
Up until now, there was no validation of the mandate references entered, however, there is a restricted charset in the rule books. Beyond the allowed character sets, we also don't want to allow certain characters (like white spaces) at the beginning and end of the reference, since this could also lead to problems in the submissions.

[2018-11-04 11:58] svnee opened #516 "No suitable templates found"
Hi,

I now reinstalled the extension multiple times, but still I get the error
**"No suitable templates found! Reinstall the SEPA extensions and check your message templates."**
when I try to print the PDF notification.

I'm on CiviCRM 5.6.0, CiviSEPA 1.2.5 and Wordpress. How could I fix this (even manually)?

Regards,
Sven

[2018-11-05 06:07] systopia commented on #516
CiviSEPA looks for active templates that are connected to the ``sepa_mandate_pdf`` workflow, *or* that have a title that begins with ``SEPA``, but are not connected to a workflow.

The extension should have created one such template upon installation. Could you maybe provide a section from the CiviCRM log and the PHP error log to understand, what went wrong with this process?

[2018-11-05 06:09] systopia commented on #516
If you're looking for a quick fix, you could, of course, create the template manually, call it ``SEPA ....``, and add copy the content from here: https://raw.githubusercontent.com/Project60/org.project60.sepa/master/templates/Sepa/DefaultMessageTemplates/sepa_mandate_pdf.html

[2018-11-05 06:43] svnee commented on #516
Hi,
Will dig into the logs later when I find the time and report back.

The quickfix worked so at least our team can continue with translations and stuff

Thanks!

[2018-11-15 15:15] systopia commented on #514
Released with ``1.4.alpha4``

[2018-11-30 09:33] patf opened #517 "Schema changes not applied to log database"
Various upgrades in version 1.4 make changes to the database schema. However, if detailed logging is enabled, these changes are not applied to the logging tables, potentially causing errors when data is changed in the tables.

`CRM_Logging_Schema::fixSchemaDifferences()` should be called after the schema upgrades.

[2018-12-05 10:43] #517 closed

[2018-12-13 12:39] bjendres opened #519 "l10n on transifex"
See https://lab.civicrm.org/dev/translation/issues/10

[2018-12-13 14:21] Detsieber opened #520 "xml-files with address (pain.008.003.02 with Address (EBICS-3.0)) should be filtered for valid characters"
As a solution for #462, an new pain format was introduced: pain.008.003.02 with Address (EBICS-3.0)

Unfortunately, if the address contains special characters (which happens often e.g. for french street names), the bank system crashes... (this happens with the "Bank für Sozialwirtschaft", I am not aware if other Banks are affected as well).

Anyhow, there should be a filter, that makes sure only "

[2018-12-20 11:47] ErikHommel opened #521 "My PhpStorm does not like this statement and it does not seem right?"
In my PhpStorm I get an error on this statement:
`    $contrib = $bao->getContract();`

in CRM_Sepa_BAO_SEPAMandate->getUnbatchedContributionIds.
I can see why it does because $bao is not defined nor is it a param. I actually think it should be:

`$contrib = $this->getContract();`

but I might be missing something?

[2018-12-28 15:03] systopia opened #522 "Group collision for adjacent cycle days"
If you have cycle days that are sufficiently close together, e.g. the 5th and the 6th, they might end up in the same group (e.g. for January 7th 2019 due to a weekend the 5th/6th). This, however, seems to cause an error, and some of the created contributions will not end up in the collection group!

Observed with ``1.2.6.beta1`` on CiviCRM ``5.3.1``, not tested yet with any CiviSEPA stable release

[2019-01-02 12:14] systopia commented on #520
Thanks for reporting, @Detsieber. We'll see if we can find some funding for this...

[2019-01-02 12:19] systopia commented on #521
No, you're absolutely right. This code path, however, was not used any more, and the function had already been deprecated.

I fixed it anyway, so PhpStorm is happy :)

Thanks for reporting and a happy new year!

[2019-01-02 12:19] #521 closed

[2019-01-11 19:18] StijnVanhandsaeme opened #523 "Payment Processor Error message :8000: Couldn't create SEPA mandate. Error was: creditor_id is not a valid integer"
I found similar errors in  the issues her but not this one and I don't see a possible fix that would help me. So: when I install civisepa (v. 1.2.5 on civicrm 5.8.2 but I also tried 1.2.6.beta3) I get this error:  Payment Processor Error message :8000: Couldn't create SEPA mandate. Error was: creditor_id is not a valid integer
Locally I re-installed completely and used the test data from the insta

[2019-01-11 20:03] ErikHommel commented on #523
Did you set a default creditor in the SEPA settings?

[2019-01-11 20:15] StijnVanhandsaeme commented on #523
Had to check but yes, we did. Thank you for thinking with me

[2019-01-14 13:30] StijnVanhandsaeme commented on #523
Maybe this might help in debugging: switched on error logging and I see this in de drupal watchdog:
`Notice: Undefined property: CRM_Core_Payment_SDD::$_paymentForm in CRM_Core_Payment->getForm() (line 487 of /sites/all/modules/civicrm/CRM/Core/Payment.php).`

[2019-01-18 13:15] StijnVanhandsaeme commented on #523
OK. We got it  'working'. I took over a configuration where on /civicrm/admin/paymentProcessor in the field "SEPA Creditor identifier" had the SEPA creditor identifier (BE....) filled in (sounds logical, no?). Replacing that with the contact id solved the issue.
So my question is actually: what should be filled in the SEPA Creditor identifier field on /civicrm/admin/paymentProcessor, what does it

[2019-02-01 06:57] systopia opened #524 "CiviSEPA collections have incomplete financial transactions"
It seems that with the recent CiviCRM versions, the financial transactions (underlying the contributions) have a missing payment instrument, when created by CiviSEPA.

This only seems to happen for the first transaction of a contribution, though, the following ones are fine.

[2019-02-06 20:25] systopia opened #525 "Call to a member function getStates() on null"
I got this crash when running non-test donation receipt generation under ``1.2-beta1``.

[code]

I couldn't reproduce it, when ending the sesson (and therefore removing the snapshot), the error was gone when I tried the same thing again.

[2019-02-08 07:00] systopia opened #526 "Aborted OOFF shows Status 'Error'"
If you abort a OOFF Mandate before you even send it, the mandate's status will be set to ``INVALID``, which in turn will be displayed as "Error". This is confusing, since all you did is stop it voluntarily.

[2019-02-12 10:01] bjendres opened #527 "CiviSEPA upgrade fails when payment processor enabled (CiviSEPA upgrade fails when payment processor enabled ("Unknown column 'a.currency' in 'field list'"))"
Unfortunately, if upgrading CiviSEPA via the standard method (swap code, run DB updates from extension screen), you get the following error before you can do anything else:
[code]
The reason is, that the creditor code will be called on *every page load* (idk why), so we cannot even get to the extension screen to do the upgrade.

[2019-02-19 10:07] adanielvv commented on #312
Quick hack that doesn't involve changing the data model:

File: [CRM/Sepa/BAO/SEPATransactionGroup.php](https://github.com/Project60/org.project60.sepa/blob/master/CRM/Sepa/BAO/SEPATransactionGroup.php)

**[:79](https://github.com/Project60/org.project60.sepa/blob/master/CRM/Sepa/BAO/SEPATransactionGroup.php#L79)** (instead of `civicrm_contact.display_name,`)
`COALESCE(IF (data_parsed LIKE '%"name

[2019-02-19 12:24] adanielvv commented on #312
Updated: the little BIC extension autofills the Bank Name field...

Below creates a new field called Name Account Holder / bank_account_holder / account_holder, and uses it for the XML transaction export instead of the contact's display_name if it is not empty.

File: [org.project60.sepa/CRM/Sepa/BAO/SEPATransactionGroup.php](https://github.com/Project60/org.project60.sepa/blob/master/CRM/Sepa/BAO

[2019-02-21 09:25] adanielvv opened #528 "Automatically create bank account in CiviBanking"
If you create a SEPA mandate, the bank account could be saved in CiviBanking.
See https://github.com/Project60/org.project60.sepa/compare/master...adanielvv:dev_fix_bank_account_propagation
Code should be added to check if CiviBanking is installed.
(There are also some changes here that pick up the bank account if there is no BIC)

[2019-02-23 22:07] adanielvv opened #530 "Add link to documentation in README.md and other places"
There is no link to the new documentation, only to the old one.

The following pages / files
https://civicrm.org/extensions/civisepa-sepa-direct-debit-extension
https://docs.civicrm.org/civisepa/en/latest/
https://github.com/Project60/org.project60.sepa/blob/master/README.md
https://github.com/Project60/org.project60.sepa/blob/master/info.xml
all point to the old documentation (not one of them to

[2019-04-25 11:04] eth4ever commented on #516
I got the same problem. The work around is fine.

Here are my logs:
Location: [my site]/civicrm/sepa/xmandate?mid=445&snippet=json
Referal: [my site]/civicrm/contact/view?reset=1&cid=8
Message: User warning: Smarty error: {crmAPI} 'civicrm_contribution_recur' is not a valid option for field entity_table in Smarty->trigger_error() (line 1100 of [my site]/sites/all/modules/civicrm/packages/Smarty/Sm

[2019-04-26 09:24] bjendres commented on #516
@eth4ever What's your CiviCRM version / CMS? It sounds like it could be related to the latest changes in CiviCRM.

[2019-04-26 11:01] eth4ever commented on #516
@bjendres  I tested it in civi 5.0 / Drupal 7.59.

[2019-05-08 12:14] jensschuppe opened #533 "SDD PP workflow error can never be thrown"
This code https://github.com/Project60/org.project60.sepa/blob/1a83ccf6b6afa12670aa1218a0a096521b3a8f0f/CRM/Core/Payment/SDDNG.php#L197-L201 seems bogus, the "SDD PP workflow error" error can never be thrown due to self-comparison of `$contribution_id`.

Is this relevant for anything?

[2019-05-17 11:33] bjendres opened #534 "Refactoring: Move PP to new extension"
Since CiviCRM's payment processor interface seems to be changing a lot, we decided to separate the payment processor's code (SDD) to a new extension: [org.project60.sepadd](https://github.com/Project60/org.project60.sepadd)

[2019-05-17 13:41] bjendres commented on #533
Will be fixed in https://github.com/Project60/org.project60.sepapp

[2019-05-17 13:41] #533 closed

[2019-06-10 10:47] scardinius opened #535 "Link CiviSEPA Dashboard should have unique navigation name"
We have situation that two links in menu have the same navigation name

Contributions > Dashboard
Contributions > CiviSEPA Dashboard

So it's not possible to add submenu to CiviSEPA Dashboard by external extension.

[2019-06-14 13:47] Detsieber opened #537 "SEPA NG Payment Processor: Regression of #449"
The issue #449 is solved with the old payment processor. However, with the NG payment processor, again the cycle day is not considered for the payment (instead of 25 as configured, collection is on the 1st of the following month).

[2019-06-17 11:31] eth4ever opened #538 "Canceled OOFF do not show up in retry collection"
The "retry collection" is great, but it doesn't seem to be possible to recollect failed OOFF's. They do not show up in the search results.

Is this a bug or is there a reason to exclude the OOFF's from recollection?

[2019-08-26 14:33] #515 closed

[2019-08-26 14:34] #520 closed

[2019-08-27 17:46] bjendres opened #540 "Introduce IBAN Blacklist"
In some cases (e.g. fraud) it's handy to maintain an IBAN blacklist (as an option group). IBANs in that list would not validate.

[2019-08-28 06:09] bjendres opened #541 "Creditor should have a label"
As the creditor's name is passed on to the output files, it would be helpful to have an internal label - especially if you have multiple creditors.

[2019-09-03 13:09] ErikHommel commented on #507
I have a slightly similar issue where some data got migrated wrongly. We have solved this by setting the contributions to "Completed" but they still get selected by this query in the updateRcur function:

[code]
Should this not include a check on contribution_status_id so completed contributions are not picked up? If we do that just like that then the contributions are recreated, which we do not w

[2019-09-03 13:14] ErikHommel commented on #507
Or perhaps a few lines have to be added to the syncGroups function just before:
[code]
where all completed contributions are removed?

[2019-09-04 11:02] bjendres commented on #528
Good idea, but I think this would be better placed in a SepaMandate post hook implemented by CiviBanking. Don't you think?

[2019-09-05 01:21] adanielvv commented on #528
Yep, above link to branch was just a quick hack. Is not in production any more. (I could not implement a better solution in time before I had to transfer the management of the IT infra, incl. CiviCRM, to another company.) Nice to hear from you btw! I have moved to the other side of the ocean.

[2019-09-05 09:26] bjendres opened #543 "installment_created hook not called for FRST contribution"
@thomst reports, that the ``installment_created`` hook will not be called for ``FRST`` contributions

[2019-09-05 12:20] bjendres commented on #528
Thanks @adanielvv!

To the americas, or somwhere else? Greetings anyway!

[2019-09-05 12:20] #528 closed

[2019-09-14 09:17] dragonjon opened #545 "Mark Received button don't work"
Hello all
I use civi 4.7.31 an CiviSEPA 1.4
in de page of closed mandate groups /civicrm/sepa/dashboard?status=closed The mandates groups closed show Mark Received button but not work

the code of button mark received no load any href

In web console this is the error:
Uncaught ReferenceError: mark_received is not defined at HTMLAnchorElement.onclick (dashboard?status=closed:288)

Thanks in advanc

[2019-09-23 05:40] bjendres opened #546 "Delete batched pending contribution - ON DELETE CASCADE"
If you delete a contribution that is currently batched, the link in the SEPA group (in ``civicrm_sdd_contribution_txgroup``)  remains. Therefore the resulting group might cause trouble.

A ``ON DELETE CASCADE`` constraint should fix that.

[2019-10-29 08:07] bjendres opened #547 "Aligning a postponed SEPA group according to weekend/hook"
If you miss submitting your group in time, the desired collection date cannot be met anymore.

Currently, the system offers you to move the collection date to the next possible collection date based on the notice period, but it doesn't verify that this date also complies with the bank's valid collection dates according to the "exclude weekends" and and a possible implementation of the ``defer_coll

[2019-10-29 08:30] bjendres opened #548 "Deleting a contribution from an (open) transaction group leaves artifacts"
If you delete a contribution from an open RCUR transaction group, the link in the ``civicrm_sdd_contribution_txgroup`` table is not deleted. This is means, that the group is not properly rendered and exported, and needs to be updated.

We should cascade the deletion of a contribution to the ``civicrm_sdd_contribution_txgroup`` entry.

[2019-10-29 09:30] bjendres opened #549 "Create PAIN.008.001.02 format without (real) BICs"
@pfigel asked for the following adjustment in ``pain.008.001.02``:

Instead of
[code]
we should be using:
[code]

[2019-11-15 06:07] bjendres opened #552 "Mandate.terminiate needs to check if already terminated"
It seems that the terminate function doesn't double check, if the mandate is already terminated. The UI doesn't allow this, but other processes might cause harm this way.

[2019-11-15 13:50] psampont opened #553 "Truncated date in the SepaMandate createfull API"
Since CiviSEPA 1.4, the dates: date and validation_date are truncated in the civicrm_api3_sepa_mandate_createfull function.
The mandate created with 'date' => 20191114202959 is saved with the value "date": "2019111400000000".

[2019-11-15 14:20] psampont commented on #553
I think the mistake comes from this line:
`    $create_mandate = $create_contribution; // copy array`

We will send a PR soon.

[2019-11-21 15:03] bjendres opened #554 "Add "create mandate" and "terminate mandate" actions for action-provider"
Offer "create mandate" and "terminate mandate" for @jaapjansma's "action-provider extension":https://lab.civicrm.org/extensions/action-provider

[2019-11-22 08:14] jaapjansma commented on #554
Nice

[2019-11-28 16:12] jaapjansma opened #555 "Add hook for calculating/altering the next calculation date of recurring contribution"
My use case is the following:

I have a membership with a fixed period from January to December.
When a new member signs up in October I want to collect the money in October. However the next contribution should be collected in January. As all membership fees are collected in January.

At the moment I can use Yearly as an interval but then the contribution for the membership is always collected in

[2019-11-29 05:52] bjendres commented on #555
If you're quick with a PR, you'll make it into ``1.5`` :)

[2019-11-29 07:58] jaapjansma commented on #555
I have almost finished the PR. Just needs testing. Hopefully that is done by the end of today or monday.

[2019-11-29 08:01] jaapjansma commented on #555
I have called the hook: `hook_civicrm_alter_next_collection_date` with two parameters the `$next_collection_date` and `$mandate_id`

What do you think of the name of the hook?

You can see my changes here: https://github.com/Project60/org.project60.sepa/compare/master...jaapjansma:dev_555

[2019-11-29 09:52] bjendres commented on #555
good :)

Also ok, but I wonder if we can pass more data (e.g. the loaded mandate), otherwise we might seriously slow down the batching process, if the hook has to load thousands of mandates individually to find out whether to do anything about it...

[2019-11-29 10:20] jaapjansma commented on #555
I agree but I discovered that contribution_recur_id which I needed (because that one was stored at the membership) is not included

[2019-11-29 10:21] jaapjansma commented on #555
Oh I am mistaken, it is called mandate_entity_id.

[2019-11-29 10:29] jaapjansma commented on #555
I have updated the PR. So we pass the whole data array and I have added creditor_id

[2019-11-29 11:00] eth4ever commented on #555
Maybe it could be useful to be able to alter the amount of the first collection as wel (or the amount of the second collection). Some of our clients use a different amount when a membership start i.e. in October and the membership fee for the next year will be collected in January.

[2019-11-29 12:22] jaapjansma commented on #555
@eth4ever that is already possible with the current hooks such as the pre hook. And with the sepa installment create hook.

[2019-12-10 10:52] jaapjansma commented on #555
I discovered a mistake in my PR earlier. I will submit a PR which will fix this.

[2019-12-10 15:13] jensschuppe commented on #554
9d9915eaede9085339e22b4330d035f4aa6cb5b0 checks for the class itself being existent. This is neccessary when upgrading the extension and the psr4 classloader info not yet being read from the `info.xml` file, resulting in a fatal without the possibility to update extension information.

[2019-12-17 21:11] jaapjansma opened #559 "CiviSepa broken after update to 5.20.0 with localized decimal settings"
**How to reproduce**

1. Install CiviCRM **version** 5.20.0
2. Set under localisation --> Languages, Currency, Localisation --> Decimal Separator to ','
2. Install latest version Civi Sepa
3. Create a mandate which should be collected quite soon
4. Press Update Recurring in the CIviSepa Dashboard

**Actual Results**
No prenindg contribution are created

**Expected result**
One ore more pending con

[2019-12-17 21:11] jaapjansma commented on #559
Ideally this should be fixed in core but an easy fix is possible by converting the amount with `(float)` before calling the api.

[2020-01-13 14:12] jaapjansma commented on #559
This has nothing to do with civicrm 5.20 but with the civicrm settings for decimal and thousand separtor. If you enter , as a decimal separtor and [space] as a thousand separator then this error will occur.

[2020-01-13 14:12] jaapjansma commented on #559
See as well: https://lab.civicrm.org/dev/core/issues/1522

[2020-01-14 05:56] bjendres commented on #559
Hm, this is going to be tricky. I remember there being a couple of changes in the way CiviCRM parses monetary strings, and CiviSEPA needs to be able to deal with all the different ways in CiviCRM ``5.x``.

Until now, passing the string to the API as a "computer formatted" number (decimal point, no thousand separator) has worked. If this is broken, then we have a major problem.

[2020-01-15 08:02] jaapjansma commented on #559
The real issue is in core and using a weird decimal separator.

[2020-01-15 08:03] bjendres commented on #559
Hm, close this ticket then?

[2020-01-15 08:04] jaapjansma commented on #559
Yes will do

[2020-01-15 08:04] #559 closed

[2020-01-16 07:23] bjendres opened #561 "Use cancel_reason for RCUR mandates"
Historically, CiviSEPA used a note entity to store the cancel reason that was entered by the user upon cancellation. The reason is, that, the ``civicrm_contribution_recur`` table didn't have a ``cancel_reason`` column, like the ``civicrm_contribution`` table. See also #409.

Recently, however, this column has been added, so we should start using it.

Implementing would include:
- using the new col

[2020-01-21 09:15] BenediktMagnus opened #562 "API to terminate SepaMandate never throws an error"
The API to terminate a SepaMandate (`civicrm_api3_sepa_mandate_terminate`) never throws an API error, even if the termination is not successful.

This is the case because `civicrm_api3_create_success` is returned regardless of the result of `CRM_Sepa_BAO_SEPAMandate::terminateMandate`, which would, if the termination fails, return `false`.

This issue is fixed in db4d43ce75ef4be6bb2f6b84cab12eb13b

[2020-01-22 07:56] bjendres opened #563 "Settings Override (by creditor) faulty"
In some circumstances, the settings override by creditor doesn't work

[2020-01-22 08:18] bjendres opened #564 "Replace deprecated CRM_Core_BAO_Setting get/setItem calls"
``CRM_Core_BAO_Setting`` is now deprecated and needs to be fixed.

It's also required for CI for the unit tests (#469) to pass, since the current test environment treats deprecation errors as exceptions.

[2020-02-10 15:34] Detsieber opened #565 "SEPA NG Payment Processor: Error when price set contains a line with amount = 0.00"
We have an event registration with a price set, where one option is free (amount=0.00), whereas another option is payable.

With the NG payment processor, CiviCRM throws an error:

The "old" payment processor works fine, as well as the PayPal payment processor.

CiviCRM: 5.19.4 on Wordpress, CiviSEPA: 1.4

[2020-02-19 13:05] bjendres opened #566 "Store IBAN in CiviBanking account"
There should be (if CiviBanking is enabled) an option to pick a preferred behaviour:
* don't store
* store upon creation
* store upon (first) completion

[2020-02-24 14:11] irritatie opened #567 "Missing download link after upgrade to 1.4"
After upgrading org.project60.sepa from 1.2.5 to 1.4, the link where you would normally download your bank file XML is gone.

CiviCRM gives the following error.
"Error
Cannot load for group #127.
Error was: Class format file '' not found."

[2020-02-24 14:14] irritatie commented on #567
This can be fixed by going to the Creditor settings, select a new file format, and save. This is an extra option that needs to be filled in, or the link doesn't work. (Thanks Björn)

[2020-02-24 14:15] #567 closed

[2020-02-24 14:18] jensschuppe commented on #567
Please check your creditor settings. The format `pain.008.003.02 (CDD EBICS-3.0)` was replaced by `pain.008.003.02 (COR1 EBICS-3.0)`, so you would have to adjust your configuration to use this format instead. The error appears because the old format (option value) has been disabled

[2020-02-24 14:20] irritatie commented on #567
Thanks, you're incredibliy quick to answer. I just posted this here so that people could find the solution somewhere :-)

Issue is closed, no problem if you know where to look.

[2020-03-22 11:50] Detsieber opened #568 "Error in batching when using large group support"
Within a SEPA migration project, I went into a strange issue: Up to the 500th contribution, the batching happened in the order of contribution_recur_id. Starting with the 501st contribution, processing happened in order of the mandate id - which caused some contributions were skipped. (instead of 604 contributions, only 581 were created). (it took me quite some time to isolate that bug...).

As a

[2020-05-12 12:16] bjendres commented on #568
I'll try to have a look at this with ``1.5``

[2020-05-12 12:19] bjendres commented on #565
The whole payment processor has been a continuous PITA, so with ``1.5`` we'll move the payment processor code into a separate extension. This way, you can install and use the flavour of SEPA payment processor that works for *you*.

[2020-05-27 18:02] bjendres commented on #543
@thomst can you confirm, that this is related to the SDD payment processor?

[2020-05-27 18:06] bjendres opened #572 "PSP Creditors should have different payment instruments"
The PSP (payment service provider) creditor type as introduced in #485 should also be able to have different payment instruments that the default FRST/RCUR/OOFF ones.

Implementation:
1. Every creditor gets two now settings:
1.1 ``pi_ooff`` list of payment instruments for OOFF collections
1.2 ``pi_rcur`` list of payment instruments for RCUR collections. Here, an entry could also be a tuple, e.g. `

[2020-05-27 18:29] bjendres commented on #553
Thanks @psampont, will be released with ``1.5``

[2020-05-27 18:29] #553 closed

[2020-05-27 18:29] bjendres commented on #562
Will be released with ``1.5``

[2020-05-27 18:29] #562 closed

[2020-05-27 18:29] bjendres commented on #548
Will be released with ``1.5``

[2020-05-27 18:29] #548 closed

[2020-05-27 18:29] bjendres commented on #547
Will be released with ``1.5``

[2020-05-27 18:29] #547 closed

[2020-05-27 18:30] bjendres commented on #563
Will be released with ``1.5``

[2020-05-27 18:30] #563 closed

[2020-05-27 18:30] bjendres commented on #564
Will be released with ``1.5``

[2020-05-27 18:30] #564 closed

[2020-05-27 18:30] bjendres commented on #555
Will be released with ``1.5``

[2020-05-27 18:30] #555 closed

[2020-05-27 18:31] bjendres commented on #541
Will be released with ``1.5``

[2020-05-27 18:31] #541 closed

[2020-05-27 18:31] bjendres commented on #540
Will be released with ``1.5``

[2020-05-27 18:31] #540 closed

[2020-05-27 18:31] bjendres commented on #469
Will be released with ``1.5``

[2020-05-27 18:31] #469 closed

[2020-05-27 18:31] bjendres commented on #534
Will be released with ``1.5``

[2020-05-27 18:31] #534 closed

[2020-05-27 18:31] bjendres commented on #554
Will be released with ``1.5``

[2020-05-27 18:31] #554 closed

[2020-05-27 18:31] bjendres commented on #245
Will be released with ``1.5``

[2020-05-27 18:31] #245 closed

[2020-05-27 18:31] bjendres commented on #549
Will be released with ``1.5``

[2020-05-27 18:31] #549 closed

[2020-05-27 18:35] bjendres commented on #483
Was released with ``1.4``

[2020-05-27 18:35] #483 closed

[2020-05-28 06:10] bjendres commented on #507
I still don't get how you got into that situation, but adding a check for contribution status wouldn't help: then it wouldn't find the completed one, generate a new one, and collect that (again).

I think this contribution shouldn't be set to completed before the group is closed/received.

[2020-05-28 06:11] bjendres commented on #507
@adanielvv does this still happen? We have recently adjusted the way that the deferral works...

[2020-05-28 06:12] bjendres commented on #546
duplicate of #548

[2020-05-28 06:12] #546 closed

[2020-05-28 06:14] bjendres commented on #565
With CiviSEPA ``1.5`` we're moving the payment processors to the [SEPA PP](https://github.com/Project60/org.project60.sepapp) extension.

@Detsieber please move this ticket there and close it here.

[2020-05-28 06:17] bjendres commented on #527
Fixed with ``1.5`` by removing the payment processors altogether

[2020-05-28 06:17] #527 closed

[2020-05-28 06:19] #65 closed

[2020-05-28 06:20] bjendres commented on #201
This can be done using the [P60 Membership extension](https://github.com/Project60/org.project60.membership)

[2020-05-28 06:20] #201 closed

[2020-05-28 06:22] #209 closed

[2020-05-28 06:23] bjendres commented on #373
Fixed with ``1.5`` because payment processors were migrated to https://github.com/Project60/org.project60.sepapp

[2020-05-28 06:23] #373 closed

[2020-05-28 06:27] #447 closed

[2020-05-28 06:27] Detsieber commented on #565
Moved to the SEPA PP extension:
https://github.com/Project60/org.project60.sepapp/issues/1

[2020-05-28 06:27] #565 closed

[2020-05-28 06:30] bjendres commented on #413
Has been implemented with #483

[2020-05-28 06:30] #413 closed

[2020-05-28 06:32] bjendres commented on #381
Has been fixed with #564

[2020-05-28 06:32] #381 closed

[2020-05-28 06:34] bjendres commented on #345
obsolete

[2020-05-28 06:34] #345 closed

[2020-05-28 06:34] #338 closed

[2020-05-28 06:35] bjendres commented on #335
obsolete with #431

[2020-05-28 06:35] #335 closed

[2020-05-28 06:35] #332 closed

[2020-05-28 06:37] bjendres commented on #95
implemented with #245

[2020-05-28 06:37] #95 closed

[2020-05-28 06:42] bjendres commented on #565
@Detsieber thanks.

[2020-05-28 06:57] ErikHommel commented on #507
@bjendres we got the situation, as stated, because data was migrated with an error, not because a contribution was set to completed manually :-) It was never sent with a group, it was sent in the 'old'  system. Never mind, if it does and should not happen in any other situation then it is a one-time problem.

[2020-05-28 07:04] bjendres commented on #568
I've had a quick look, but this is not the quick fix that I thought. It requires the refactoring of the batching process, because in order to be on the safe side the mandate IDs will have to be extracted upfront, stored in the queue items, and then passed to the batcher. I'll look into this for the next version (``1.6``)

[2020-05-28 07:10] bjendres commented on #507
Ok, thanks, @ErikHommel. I'll close the ticket, and will re-open if obeserved "in the wild"

[2020-05-28 07:10] #507 closed

[2020-05-28 07:14] Detsieber opened #573 "Create Contributions for the latest business day of the month"
Some organisations want to debit their recurring contributions at the very end of the month: This is because most people get their salary payments at the end of the month, so return debit notes are least probable during these days.

Currently, this is not supported within CiviSEPA. As a workaround, organisations decide to use cycle day = 27 - which however will create a problem in year 2021, when

[2020-05-28 07:16] Detsieber commented on #568
1.6 is okay for me! Thanks for keeping an eye on that issue!

[2020-05-28 07:23] bjendres commented on #573
Sounds like a good idea.

[2020-06-09 10:54] bjendres opened #574 "Update tab hook"
We should be using [hook_civicrm_tabset](https://docs.civicrm.org/dev/en/latest/hooks/hook_civicrm_tabset) instead of [hook_civicrm_tabs](https://docs.civicrm.org/dev/en/latest/hooks/hook_civicrm_tabs)

[2020-06-09 11:07] bjendres commented on #471
Looks like they're not going to remove the status after all...

[2020-06-09 11:07] #471 closed

[2020-06-09 12:36] MarcMichalsky opened #575 "Transaction group contains contributors who were already charged"
Hello community,

we encountered a major problem in May, when contributors of a recurring transaction group, that was already transmitted to the bank on April 29th, were accidentally charged again twice (!) because an almost similar transaction group was generated again and again.

We were able to reproduce the error various times on a test server:

04-28-2020, close transaction group and transmit

[2020-06-09 12:40] bjendres commented on #575
Hi @MarcMichalsky. What are your settings for the creditor used?

[2020-06-09 12:53] MarcMichalsky commented on #575
Hi @bjendres, thanks for the fast answer!
This is our configuration:

![Screenshot_CiviSEPA_5](https://user-images.githubusercontent.com/24728186/84149471-d415c400-aa60-11ea-825a-1d4827953072.png)

[2020-06-09 13:08] bjendres opened #576 "Store original collection date"
To avoid issues like #575 we need to store the *original* collection date without any deferrals or adjustments due to late submission. One place could be the ``civicrm_sdd_contribution_txgroup`` table.

[2020-06-09 13:10] bjendres commented on #575
Thanks. I think the problem is the large grace period (Toleranz), you shouldn't need more than a couple of days.

In this particular case, I assume what's happened is:
1. You didn't collect the May 1st group in time
2. When closing the May 1st group (too late) it would be adjusted to May 4th to still be collectible
3. When you then pressed the update button again, the original May 1st collection d

[2020-06-09 14:30] MarcMichalsky commented on #575
Hello @bjendres,
thanks a lot for your advice!

I don't think that the reason for the incident was that we collected the May 1st group too late. It was closed and submitted on April 28th. The faulty group was only generated after the the transaction CSV file was uploaded and processed.

To me it looks very suspicious that in the payment history of the double charged contributors the transaction ap

[2020-06-10 06:11] bjendres commented on #575
That's correct, but is had been deferred. I assumed it was because of a late submission, but it could also be due to config changes (or maybe other influences). In either case point 3 of the explanation above still stands: if you recalculate the groups, and the calculated collection date differs from the one for the previously generated (and potentially closed) group, it will not recognise it and

[2020-06-10 11:58] MarcMichalsky commented on #575
@bjendres

Both times the calculated date was May 1st. Because of the holiday and the weekend the bank collected the money on May 4th. When I import and process the banks CSV file the included transactions get matched with the prebooked ones correctly. But when I refresh the transaction groups again, the transactions marked for May 4th are not getting recognized as the original May 1st group, so t

[2020-06-15 09:25] MarcMichalsky commented on #575
Hello @bjendres,

There is no other process between downloading the CSV file from the bank and uploading it to Civi.

I already mentioned that both dates `booking_date` and `value_date` in the CSV file are the same (May 4th). I assume this is an error on the banks side because it turns out that the wrong date also shows up in the official bank statements (PDF file).

When I manually change the `bo

[2020-06-15 11:12] MarcMichalsky opened #578 "Wrong date for next SEPA collection"
Hello community,

we found some contacts with a wrong date for the next SEPA collection.

![20200515_bugreport](https://user-images.githubusercontent.com/24728186/84650806-36f7d700-af09-11ea-82af-7fcfe677adb3.png)

Although the wrong date is displayed, until now the collections were carried out correctly.

![20200515_bugreport_2](https://user-images.githubusercontent.com/24728186/84651011-8e964280

[2020-06-15 15:26] bjendres commented on #575
The CiviBanking SEPA matcher uses ``value_date``. If that is not the date that the SEPA payment is *collected*, than this would explain your issue.

This is, however, not an issue of CiviSEPA then. You could argue that it should be more resilient against date manipulations, which would be covered by the aforementioned #576.

[2020-06-15 16:04] MarcMichalsky commented on #575
The `value_date` **is** the date when the payments where collected. I corrected the `booking_date` manually but the error persists.

The `booking_date` is the date when the bank should process the payments. We plan our booking dates for 1st and 15th of a month. Sometimes this dates fall on a holiday so the value dates differ.

In this case CiviSepa does not recognize that the collection for the sp

[2020-06-16 07:26] bkaless commented on #576
Dear Björn,

Do you have a guess about the amount of resources to solve this problem? Maybe we can find a budget at SfE or elsewhere. I assume that this question concerns more organisations than just us.

Best regards
Bene

[2020-06-17 10:49] sluc23 opened #579 "SEPA Mandate incorrect via Webforms"
*(Drupal 7.71 / CiviCRM 5.24.4 / Webform 4.22 / Webform_Civicrm 4.28 / CiviSepa 1.5-alpha7)*

Using Webforms the create new Contacts and SEPA payment method for recurring payments, after submitting the webform, the SEPA Mandate it's not properly created.
Before digging more into the issue, I couldn't find any documentation about how to configure CiviSEPA for Webforms

Is CiviSEPA ready to work wit

[2020-06-18 06:55] bjendres commented on #579
I assume you're talking about Coleman's webform integration, and not payment processors, right? I have never tried that myself, I don't even know how it works.

Anybody else here who uses this kind of setup?

[2020-06-18 15:49] bjendres commented on #576
I would reckon that it would be about 4-6 hours of work. But I'm not sure a lot of people have this issue, as it only seems to happen in edge cases - or when somebody/something changes the dates of the collected contributions to something else than the collection date (like in #575).

But don't get me wrong, the system would be a lot more resilient when this is implemented.

[2020-06-18 15:56] bjendres commented on #575
Then I don't get it. In your first screen shot you can see that the first transaction is dated to May 4th, and the new group is generated for May 1st. Assuming that the first group was originally also dated to May 1st (since that's apparently what the algorithm does with your settings), the collection date in the file would be also be May 1st. Since that was a holiday (in Germany), that bank shoul

[2020-06-18 16:06] MarcMichalsky commented on #576
Hello @bjendres,

I think you got me wrong on #575. The bank booked the money later than it should have. This is why the booking date is not the one specified in the Sepa group XML file.

But even if I correct the booking date in the CSV file manually the CiviSepa does not recognize that the group was already generated. It only works correctly if I also change the value date to the booking date. S

[2020-06-18 16:11] MarcMichalsky commented on #575
Yes, I think the wrong booking date is an issue caused by the bank.
But I doubt that this is the reason for the mistake because my testing showed that CiviSepa refers to the value date of the contributions when it calculates the Sepa groups.

[2020-06-18 16:11] eth4ever opened #580 "Batch booking True or False"
The tag <BtchBookg></BtchBookg> in the sepa file defines if your direct debets will be booking in your bank statement as a batch amount (true) or per donation (false). In the civi sepa file from this tag is "false". Shouldn't this be a civisepa setting, since it is possible to set a sepa batch to "received"?

[2020-06-18 16:17] bjendres commented on #576
As I said before, when using the grace period you should always be cautious.

With respect to CiviBanking: most people only use one of the dates, and then import into both fields. It's possible that there's issues in CiviBanking in that scenario that I don't know about. But this isn't the place for this.

I still don't get how they could adjust the collection time without asking you. That should b

[2020-06-19 06:52] bjendres commented on #580
Interesting, we/our clients never used it that way. The banks always ignored the flag anyway, and had to be specifically instructed to list the individual transactions on the bank statement.

The way forward here, is to create a copy of the file format with the flag set to ``true``, since this is essentially not a property of the creditor but of the file format.

@eth4ever what do you think?

[2020-06-23 15:52] #575 closed

[2020-06-24 15:00] bjendres commented on #574
will be released with ``1.5``

[2020-06-24 15:00] #574 closed

[2020-07-21 16:13] bjendres opened #582 "SEPA Collection Forecast"
It would be good to have a report that gives you a forecast of future collections based on the currently recorded mandates.

Migration forecast from here: https://github.com/systopia/de.systopia.sepacustom/issues/3

[2020-07-22 08:31] wikimas opened #583 "Array to string conversion in SettingsMetadata.php"
I've just installe CiviSEPa and I get a lot of
Notice: Array to string conversion in Civi\Core\SettingsMetadata::_filterSettingsSpecification() (line 133 of /htdocs/civi/sites/all/modules/civicrm/Civi/Core/SettingsMetadata.php). - notices.

Not sure if I should be worried?

[2020-07-23 15:17] bjendres commented on #583
I don't think so. CiviCRM Core changed the handling of the settings in one of the more recent versions, and that triggers notices that hadn't been there before. As far as I know this doesn't affect functionality.

On a production site, you can simply suppress PHP notices, which usually don't cause any harm.

It would be nice to change the code to not produce the notice any more, but frankly it's n

[2020-07-23 15:48] wikimas commented on #583
Thats fine, just what I wanted to hear!

[2020-07-25 15:35] masetto opened #584 "SEPA Mandates: this is incompatible with sql_mode=only_full_group_by"
Hello, when I click in "SEPA Mandates" tab in a contact I have this error:
[code]
I'm using MySQL 5.7.3. Is it a prerequisite to remove `only_full_group_by` in sql_mode?

Thanks

[2020-07-25 16:46] bjendres commented on #584
Thanks @masetto. Yes, this module was developed when ``mysql`` was still shipped without ``only_full_group_by`` enabled. I recommend turning it off for CiviCRM, because you might encounter similar issues with other extensions as well.

That being said, we should -of course- fix that in one of the next versions.

[2020-07-25 16:46] bjendres commented on #584
PRs always welcome :)

[2020-08-03 14:16] bjendres opened #585 "Improve Retry Collection filters (RTRY group generator)"
The re-submission of failed collections could do with some more filters, e.g.:
* A time filter for the whole year (for special cases). With a warning, of course
* Contribution Status ID (currently only 'Cancelled')
* Form workflow (changes to the top section recalculation ignores filters below)
* Custom transaction message

[2020-08-05 08:39] jaapjansma opened #586 "Not possible to change the cycle day of a mandate"
Currently it is not possible to change the cycle day of a mandate.

[2020-08-11 09:04] jensschuppe opened #589 "PAIN file format 008.001.02 not standards-compliant"
The `pain_008_001_02` template does not seem to be standards compliant regarding the following section:

[code]

A validating bank claims the following error:

The specification's example implementation [here](https://www.ebics.de/fileadmin/unsecured/anlage3/anlage3_bsp/pain.008.001.02.xml) ([Overview page](https://www.ebics.de/de/datenformate/ergaenzende-dokumente)) does not include such an eleme

[2020-08-11 09:32] tttp commented on #589
According to this xsd, your bank is wrong and civisepa is right

https://wiki.xmldation.com/@api/deki/files/671/=pain.008.001.02.xsd

    <xs:complexType name="PartyIdentification32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm"
type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr"
type="PostalAddress6"/>
            <xs:eleme

[2020-08-11 09:54] jensschuppe commented on #589
@tttp Thanks, that's indeed correct. Should've checked the schema before. The official XSD file can be downloaded here: https://www.iso20022.org/message/14451/download.

[2020-08-11 09:54] #589 closed

[2020-08-12 13:49] bjendres opened #590 "Refactor CiviSEPA hooks"
CiviCRM's hook system has been updated a couple of times since CiviSEPA has received it's own customisation hooks. With one of the next CiviCRM versions, we will start receiving deprecation notices with the current implementation. It should be a simple refactoring.

The core change is here: https://github.com/civicrm/civicrm-core/pull/17995

Thanks for pointing this out to me, @jaapjansma

[2020-09-11 09:55] bjendres opened #592 "Group type 'RTRY' not yet supported."
The new ``RTRY`` function still has some bugs.

[2020-09-11 12:59] TheAssassin opened #593 "Cannot install in CiviCRM 5.29.0"
In the last three days, I've been evaluating CiviCRM for a local association. So far, it looks pretty good. As the association resides in Germany, SEPA integration would be great to have to help automate membership fees' debit transfers etc. Unfortunately, I cannot find out how to install this extension.

I've got two test systems now. The first instance runs Backdrop CMS. Installing CiviCRM was n

[2020-09-11 13:07] Detsieber commented on #593
CiviSEPA should be fully compatible with CiviCRM 5.29.

One hint: Did you set the permissions for the extension within the Drupal permissions? This often causes that kind of problems...
Remember: Drupal doesn't automatically give permission for everything to the administrator user, you have to take care for that by yourself!

[2020-09-11 13:28] TheAssassin commented on #593
I think I'd first have to be able to install the extension before worrying about preferences. The [install guide](https://docs.civicrm.org/civisepa/en/latest/#installation) also doesn't mention any permissions. But I'll have a look quickly in the Backdrop install. Do you have a list which permissions I need to grant?

[2020-09-11 19:00] TheAssassin commented on #593
Just retried a manual installation, this time it seems to have worked. But my initial question still remains unanswered: is it normal that the extension doesn't show up in that catalog? The official installation instructions only show how to install the extension this way, not how it's done manually.

[2020-09-14 05:16] bjendres commented on #593
The extension is listed in the [extension directory](https://civicrm.org/extensions), but it's not listed among the relatively short list of extensions that have been 'reviewed' for in-app installment. The number of extension in the directory is a lot higher (>400) and the number of CiviCRM extensions out there in general would be much higher still.

The number of 'reviewed' extensions used to be

[2020-09-14 06:09] TheAssassin commented on #593
I see. I was already wondering why the list was so short. The [docs]() however suggest that the extension should be available there already:

"Find, download and install" is misleading. I would suggest to refine this section in the docs.

[2020-09-14 06:19] bjendres commented on #593
Hm, it does also say

and links to the GitHub downloads. Nevertheless you're right, this should be more clear.

@TheAssassin, would you care to suggest a change and create a PR?

[2020-09-14 06:33] TheAssassin commented on #593
Done.

[2020-09-14 06:38] #593 closed

[2020-09-14 06:38] bjendres commented on #593
Thanks @TheAssassin

[2020-09-23 12:18] jensschuppe opened #596 "Erroneous German translation for "Edit SEPA mandates" permission"
See https://github.com/Project60/org.project60.sepa/blob/2658808765eca75d53f8864cbc63707be9e0b73e/l10n/de_DE/LC_MESSAGES/sepa.po#L1368-L1370

This should be `SEPA-Mandate bearbeiten`

[2020-09-29 08:44] bjendres opened #597 "Deferred collection groups clashes drop collections"
If you're using the deferred collection (e.g. weekends or public holidays) there is an issue when two or more groups of the same creditor _and_ type (RCUR/FRST/OOFF) are deferred to the the same collection date. In this scenario, only one of the groups is collected.

An example would be to have a creditor with collection days 1st and 2nd, with deferring weekends enabled. If, in this scenario, the

[2020-10-05 13:14] masetto commented on #584
@bjendres please can you help me to creare a PR? I created a local branch `hotfix/sql_mode_only_full_group_by`, but I'm not have permissions to push it. My PR has a very minimal modification of a file.

[2020-10-05 13:22] bjendres commented on #584
Hi @masetto, thanks for looking into this. If you have created this branch in a forked GitHub repository you should simply be able to create pull request. However, I didn't see a forked repository on your GitHub account. If you haven't forked the extension yet, this would be the place to start.

[2020-10-05 13:38] masetto commented on #584
Hi @bjendres, I create my firstly PR, be patient if I didn't do everything right

[2020-10-05 15:07] bjendres opened #599 "Locking for queue runners sometimes not working"
It seems that under certain circumstances the lock providing exclusive running for the sepa batch processes (updating/closing groups) can be circumvented. This can lead to the corruption of the groups involved, since the runners share a queue.

Two things should happen here:
# isolate the queues by txgroup ID
# fix the lock (or to be more precise the way we use it)

[2020-10-08 09:00] bjendres commented on #584
@masetto don't worry, it's all good :)

BTW: you should know that if it's too much work (or too risky) to fix the sql query, you can aways wrap the execution in ``CRM_Utils_SQL::disableFullGroupByMode()`` to make it work as-is.

[2020-10-08 13:09] bjendres opened #600 "Mandate activation button"
We would like to make use the mandate status ``INIT``, and add a feature to the UI to active mandates in this status. See also #397 and #17 (and probably others).

Currently, we would only allow mandates like this to be created through the API. We would then offer a "validate" action in the UI for mandates in status  ``INIT``, that then would do the following:
* set status to ``FRST`` or ``OOFF``

[2020-10-09 15:44] masetto opened #601 "CBI File Format (was: Validation error on import XML to my bank)"
Hi,
I state that this is the first time I create XML file from this module. 😄

XML file starts with this rows:
[code]

When I import to my internet banking (Italian bank) I have this error:
![2020-10-09_17h18_23](https://user-images.githubusercontent.com/9961202/95603169-348c3080-0a56-11eb-805f-3b07c66dcde7.png)

File `pain.008.001.02.xsd` does not exist.

Is this a problem of my bank or another o

[2020-10-09 16:28] masetto commented on #519
Hi, I don't understand if this project will be joined on Transifex or not. Now Transifex is surely not up to date.

[2020-10-12 06:33] bjendres commented on #519
Feel free to upload the current ``sepa/pot`` file to transifex, along with the current translations. I never figured out how to do that...

[2020-10-12 06:35] bjendres commented on #601
@masetto You can either

1. talk to your bank and ask which SEPA PAIN flavours they accept, or
2. try all the formats that CiviSEPA is shipped with, and see if any gets accepted.

[2020-10-12 11:07] masetto commented on #601
Hi @bjendres,
this is the answer of my bank:

What is this standard? Is it different from the ones you have implemented?
Thanks

[2020-10-12 12:25] bjendres commented on #601
I'm not aware of anyone having implemented these CBI file formats for CiviSEPA.

The process of doing this would probably be something like:

1. check if the data and the workflows in CiviSEPA can be mapped to that file format. If so:
2. create a new file format (see e.g. [HERE](https://github.com/Project60/org.project60.sepa/tree/master/templates/Sepa/Formats) and [HERE](https://github.com/Projec

[2020-10-13 10:08] masetto commented on #601
Hi @bjendres
thank you for your indications. [This is an example](https://github.com/Project60/org.project60.sepa/files/5370573/SepaDirectDebit-example-xml.txt) XML CBI file accepted by my italian bank.
Is it a format you have already heard of? I think it is a standard in Italy. Do you think it is useful to develop it in this CiviSEPA extension?

[2020-10-13 10:42] bjendres commented on #601
No, never come across it, sorry.

If it's an Italian standard, probably. Would you want to do it yourself, or would you want to hire us to do it?

[2020-10-13 12:34] masetto commented on #601
I'll try it by myself, thanks.

[2020-10-15 07:54] lbl-knts opened #602 "payment processor does not work in drupal webform"
With CiviCRM 5.29 and CiviSepa 1.4, used the extension for processing contributions. Using the extension in civicrm contribution pages, everything went well.

For some reasons it might be good to use drupal webform for online contributions. Whith that, i get an error

`Notice: Undefined property: CRM_Core_Payment_SDD::$_paymentForm in CRM_Core_Payment->getForm() (line 555 von [...]/sites/all/modul

[2020-10-15 10:49] bjendres commented on #602
The SEPA payment processors aren't really up to date, since we (maintainers) are rarely using it. Also, in the past, fixes/adjustments that worked for one user didn't work for another and vice versa. To address this problem, we are currently in the process of refactoring the payment processors into a separate extension, and will roll this out with the upcoming CiviSEPA ``1.5`` release. This way ev

[2020-11-12 07:03] Detsieber opened #603 "5.31 compatibility: Tab "SEPA mandates" on contact summary does not appear"
The tab is not shown on the contact summary, after upgrade to CiviCRM 5.31.0

The functionality is still available via url:
Drupal8: ../civicrm/sepa/tab?reset=1&snippet=1&force=1&cid=3134
Wordpress: .../wp-admin/admin.php?page=CiviCRM&q=civicrm%2Fsepa%2Ftab&reset=1&snippet=1&force=1&cid=11

But, the tab is lost.

It seems, that the technique used to inject the tab into the contact summary broke wi

[2020-11-12 08:43] bjendres commented on #603
I think this should be fixed.

@Detsieber Could you verify that it works with ``1.5-beta2``?

Caution: ``1.5-beta2`` will remove the payment processors, please use a test environment.

[2020-11-13 07:50] Detsieber commented on #603
YESSS - with 1.5-beta2, the tab "SEPA mandates" is displayed again!

Am 12.11.20 um 09:43 schrieb Björn Endres:

[2020-11-27 16:51] bjendres opened #604 "CI (continuous integration) broken"
It seems that something's wrong with the CI, we get:
[code]

Here's the full log: [ci.log](https://github.com/Project60/org.project60.sepa/files/5608940/ci.log)

Tests still pass on my local environment.

[2020-11-27 16:53] bjendres commented on #604
@pfigel have you experienced this as well? I copied the CI from you :)

@michaelmcandrew I think we're using your docker container, does that ring a bell?

[2020-11-27 20:01] blipp commented on #540
This seems like a very useful feature, thanks! Please consider renaming blacklist to blocklist. See https://github.com/Chocobozzz/PeerTube/issues/2790 for a similar discussion.

[2020-11-28 11:57] bjendres commented on #540
That sounds like a very good idea.

[2020-11-28 18:52] michaelmcandrew commented on #604
@bjendres ah, that's interesting. as I understand it, the issue is that you are using composer 2 rather than composer 1. What image are you using? if it is something based on https://github.com/michaelmcandrew/civicrm-buildkit-docker/blob/master/civicrm/Dockerfile#L104 then as you will see from that line, all I am doing is running `civi-download-tools` so my assumption is that the problem is 'upst

[2020-11-30 09:57] elcapo commented on #604
The error message was about to be the same. @bjendres, can you try downgrading Composer and trying again:

[code]

You might need sudo privileges for the first command, depending on the context.

[2020-12-01 10:50] bjendres commented on #604
Thanks @elcapo, but that doesn't quite seem to do the trick. I added ``composer self-update 1.4.1``  [HERE](https://github.com/Project60/org.project60.sepa/blob/issue/604/.circleci/config.yml#L20), then the you later run into

[code]
(see [HERE](https://app.circleci.com/pipelines/github/Project60/org.project60.sepa/143/workflows/3443c666-47a0-4472-8c1a-6bf750c42244/jobs/405)).

When I add the seco

[2020-12-09 11:53] pfigel commented on #604
@bjendres not sure, but I think this was due to compatibility issues between the PHP version in the CI image and composer 1.4.1. I've created a PR that uses the latest v1 and that seems to work.

[2020-12-09 18:45] #604 closed

[2020-12-09 18:53] bjendres commented on #604
@pfigel fixed it!

[2020-12-10 08:58] michaelmcandrew commented on #604
great - any thoughts on whether we should peg to composer 1 upstream? / I am not sure how long it will be before civicrm and friends become composer 2 friendly or if there are any other consderations.

[2020-12-10 10:25] pfigel commented on #604
@michaelmcandrew good question - my understanding is that core on master and stable do okay with either composer 1 or 2. The CI failures were related to older Civi versions which we test against in addition to master/stable. I guess it would depend on how relevant that use-case (building older versions of Civi) is for the `civicrm-buildkit` image, beyond our CI thing.

[2020-12-10 10:32] michaelmcandrew commented on #604
thanks @pfigel. I am coming to the conclusion that this is an upstream thing and a downstream thing but not the responsibility of civicrm-buildkit-docker. This image calls civi-download-tools for its dependencies and I think it makes sense for us to take our lead from there and not make any policy decisions that go against what they do. You tweaking downstream as you have done seems reasonable as

[2021-02-17 14:22] Detsieber opened #606 "civicrm_financial_trxn.payment_instrument_id not proberly filled"
In general, civicrm_financial_trxn.payment_instrument_id should have the same value as civicrm_contribution.payment_instrument_id .

However, in some use cases this value is not filled propely: either it is NULL, in other cases it's filled with a wrong value (e.g. the code for Credit Card or PayPal).

The following SQL statement demonstrates these wrong entries:

 `select c.contact_id, c.id as "Co

[2021-03-05 12:45] bjendres opened #607 "Add line numbers in transaction group details"
Sometimes it can be helpful, to have the line numbers in the detailed view of a SEPA transaction group.

[2021-03-23 08:49] tttp opened #608 "default sepa mandate incompatible with mysql8"
@bjendres , just wanted to flag @rthouvenin finding:

MySQL 8 changed the default auto-increment mode from "consecutive" to "interleave": https://dev.mysql.com/doc/refman/8.0/en/innodb-auto-increment-handling.html

This has various benefits in terms of performance, locking and reliability, but I think as a result the next auto-increment value is not always written to disk.
The documentation of the

[2021-03-23 08:49] #608 closed

[2021-03-23 09:01] rthouvenin opened #609 "Creation of mandate references relies on unreliable MySQL internals"
When creating a new mandate, the following query is used to guess the next row id and append it to the mandate reference:
`SELECT auto_increment FROM information_schema.tables WHERE table_schema='$database' and table_name='civicrm_sdd_mandate'`.

This is unsafe in several ways:
 - MySQL uses locks for the duration of a **statement** (not transaction) to determine the next auto-increment value, the

[2021-03-23 09:04] bjendres commented on #609
Yes, thanks @rthouvenin. This code has been in there from the very first prototype, and was always an eyesore :) Would you be able to provide a PR with an alternative?

[2021-03-23 09:05] bjendres commented on #583
released with ``1.5``

[2021-03-23 09:05] #583 closed

[2021-03-23 09:06] bjendres commented on #592
released with ``1.5``

[2021-03-23 09:06] #592 closed

[2021-03-23 09:07] bjendres commented on #597
released with ``1.5``

[2021-03-23 09:07] #597 closed

[2021-03-23 09:07] bjendres commented on #596
released with ``1.5``

[2021-03-23 09:07] #596 closed

[2021-03-23 09:08] bjendres commented on #603
released with ``1.5``

[2021-03-23 09:08] #603 closed

[2021-03-23 09:11] rthouvenin commented on #609
@bjendres Yes will work out something, hopefully very soon as this is quite urgent for us now :)

[2021-03-23 09:14] bjendres commented on #609
Great!

Sorry about that :/

[2021-03-23 09:18] bjendres commented on #608
A assume closed in favour of #609

[2021-03-23 09:19] tttp commented on #608
yeah, 609 is the right one indeed.

[2021-04-14 11:53] #545 closed

[2021-04-14 11:54] dragonjon commented on #545
updated to 1.5

[2021-04-28 15:04] lbl-knts opened #611 "payment is created with OOFF contribution, but not with RECUR contribution"
The extension seems to differ if it's a one-time or recurring contribution.
Use case: a filled public contribution page with one-time contributions >creates a payment entry< within the contribution.
While having recurring contributions, the extension >does not create any payment< entry.

Any hints for what this differ?

CiviSepa 1.4 and 1.5, CiviCRM 5.36, WP

[2021-04-28 17:49] bjendres commented on #611
Hi @lbl-knts. There's some stuff to unpick here.

Yes, that's by design. Recurring contribution create a recurring mandate, which only generates a contribution when the transaction groups are generated. One-Off donations will only be collected once, so the contribution is created along with the mandate.

Yes, you should maybe have a look a the documentation here: https://docs.civicrm.org/civisepa/

[2021-04-28 17:49] #611 closed

[2021-05-11 15:06] bjendres opened #613 "Wrong permission used for delete mandate"
It looks like in the 'edit mandate' screen, the wrong permission is used: ``delete sepa groups`` instead of ``delete sepa mandates``.

[2021-08-17 11:03] bjendres opened #614 "Performance issues with CiviCRM 5.36 - 5.40.1"
When creating a large number of contributions by using the "update RCUR" button on the dashboard, there might be some serious performance issues with the CiviCRM versions ``5.36`` through ``5.40.1`` when using campaigns.

Thanks to @pfigel for hunting this down, providing a CiviCRM patch, and giving us a heads up. See [CORE-2743](https://lab.civicrm.org/dev/core/-/issues/2743).

[2021-09-03 08:05] bjendres opened #615 "Add APIv4 Access"
In order to enable access to tools such as SearchKit, the extension should implement APIv4 for CiviSEPA.

[2021-09-09 23:21] demeritcowboy opened #616 "Heads up for 5.43 - CRM_Core_EntityReference removed"
The DAO's here will need regenerating.

https://github.com/civicrm/civicrm-core/pull/21408, specifically: https://github.com/civicrm/civicrm-core/pull/21408/files#diff-8a528a93562f16025550d7368cb5761898c7159e2310696dd9c25d95610c6704

[2021-09-10 05:18] bjendres commented on #616
thanks @demeritcowboy !

[2021-09-13 11:03] bjendres opened #617 "SEPA group notes and tx_message overwrites"
Allow two amendment for SEPA groups:
- transaction message override
- notes
Both values should be visible in the sepa group view.

This will, for now, only be exposed to the "retry collections", but may later be implemented for other groups as well.

[2021-10-01 11:33] bjendres opened #618 "Update UnitTests"
Currently, the unit tests (and with it the CI) seem to fail over some technical changes in CiviCRM.

We'll take the opportunity to update to ``phpunit6``, und fix the issues raised by the CI.

[2021-11-08 07:27] Detsieber opened #619 "Deferring collection date after weekend not sufficient"
When the option "exclude_weekends" is selected, the collection date will be deferred to Monday, in case it would be on Saturday or Sunday.

However, this won't be sufficient in many cases:

Typically, the rules of several banks are as follows:
- If the SEPA file is uploaded until 14:00h, the collection can happen the following day (means: CiviSEPA should be set up to defer the collection by 1 day)

[2021-11-23 09:17] Detsieber commented on #616
This is important, in fact, because after updating to 5.43 some functionality (e.g. deduplication) is not working anymore (WSOD), when CiviSEPA is activated.

Workaround: de-activate CivSEPA. Which is not a good solution.

[2022-01-02 21:23] colq2 commented on #396
Hey, just wanted to know how this feature is progressing. We are moving from an old offline software to civicrm. I already set up everything else and wanted to import all members and got stuck and landed here.

* Can I help with this feature?
* Are there plans when this will be released?
* Is this code already usable or are there other (codebase) possibilities to import mandates?

[2022-01-11 15:09] scardinius commented on #396
Hi @colq2!

Nice to hear that someone needs such feature :)

This feature is working fine but on 1.2.5 sepa version. We have a plan to upgrade it to 1.5 version but this will taka a place around May/June :( Then I hope it will be included in 1.6 milestone.

[2022-01-16 21:01] Detsieber commented on #616
The issue is solved with 1.6-alpha2
Thanks a lot, Björn.

[2022-01-17 14:07] jojowork opened #620 "Add Recurring Contribution ID as Output"
Using the Formprocessor, I need the recurring contribution ID of a created SEPA-Mandate.

[2022-01-29 10:53] Detsieber opened #622 "php-iban.php might be in conflict with other plugins/modules using the same library"
Within a Wordpress install, we had the strange situation, that some pretty widely used plugin (woocommerce-germanized) includes the same library php-iban.php as CiviSEPA does. It went out, that SEPA online transactions crashed due to a php error:

`[12-Jan-2022 12:49:29 Europe/Berlin] PHP Fatal error:  Cannot redeclare verify_iban() (previously declared in /html/wordpress/wp
-content/plugins/wooco

[2022-01-29 14:37] Detsieber opened #623 "Incorrect tag in xml file (/pain_008_001_02_OTHERID)"
For some reason, the <CdtrSchmeId> section contains a superfluous <Nm>-Tag.
This causes the xml file to be rejected.

Pull request is under way.

[2022-01-30 13:09] wintermoor commented on #589
GLS (and maybe other Volksbanken in Germany) have this issue, too.

Deleting line 44 in SEPA-xml manually will help. To get this fixed in CiviSEPA, please delete line 32 in transaction-details.tpl at /civicrm/ext/org.project60.sepa/templates/Sepa/Formats/pain_008_001_02_OTHERID  (Create a new file format for this, because otherwise an update will erase it.)

[2022-01-31 13:36] jojowork opened #625 "default status of sepa-mandate-update-form wrong"
when I try to update an existing sepa-mandate via UI the status (RCUR,OOFF,..) should be set according to the status of the old mandate. Instead the default status is OOFF.  (see also internal ticket nr: 17105)

[2022-01-31 17:14] allinappli opened #626 "Can't add a SEPA contribution with SEPA 1.5 on CiviCRM 5.44"
Deprecated: Array and string offset access syntax with curly braces is deprecated in /home/allingro/testwpcivi/wp-content/uploads/civicrm/ext/org.project60.sepapp-master/sepapp.civix.php on line 260

This happens when trying to add a payment through 'SEPA mandate' tab. And we don't have the button event though everything seems set according to the documentation.

![image](https://user-images.githu

[2022-01-31 22:30] bjendres commented on #622
Yes, you're right, and the libraries should be included using composer. @Detsieber Could you be able to create a PR?

[2022-01-31 22:36] bjendres commented on #623
@Detsieber can you rule out that the change will break submissions for other people/banks?

[2022-01-31 22:41] bjendres commented on #623
Actually, see #589 - so we might want to offer both versions...

[2022-01-31 22:58] bjendres commented on #626
Thanks for reporting, @allinappli. First, a heads up: CiviSEPA 1.5 isn't compatible with CiviCRM 5.44, see #161. We're trying to get 1.6 out soon.

With respect to the other things:

This refers to the companion extension, https://github.com/Project60/org.project60.sepapp. Maybe that one needs updating, too? If you can still reproduce the "deprecated" warning, please file there.

That sounds weird

[2022-02-01 10:42] allinappli commented on #626
Hi! @bjendres I hadn't seen the limitation with 5.44 (but not sure the #161 explains why).

We'll try the 1.6 alpha2 version and report directly into sepapp project if still needed. We're using version 1.0 which seems to be the last and most recent one and our user has administrator permissions.

I'll let you know how it works

[2022-02-01 11:42] allinappli commented on #626
trying with 1.6 alpha2 and companion extension app version 1.1dev (from the same zip folder) leads to the same situation on 5.44.

there's no button added to the contribution tab.

We can still create a SEPA mandate from the `action` menu, the operation seems to be recorded and is inaccessible

![image](https://user-images.githubusercontent.com/62597730/151962140-f154d4f5-1f4a-4e16-bac5-aa483a69e3

[2022-02-01 11:51] Detsieber commented on #623
Sorry, I haven't seen before that #589 is absolutely identical with this issue #623.
And I am still sure that the fix proposed by wintermoor and myself will help: He has documented, that the change is necessary for GLS bank (which uses the same software most Volksbanken in Germany are using. And in my case it concerns the Sparkasse.

As I wrote at #589:

And I do not believe that a SEPA format tha

[2022-02-01 13:14] tttp commented on #623
Given how time works, I'd say that #623 is identical to #589 ;)

`    <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
`

This lines say you can have a Nm tag.

I do not remember for which bank it was added, it might be one that required to have Nm, it was too long ago ;)

In any case, it should be an optional but accepted according to that xls, a bank is wrong to reject it, a

[2022-02-14 10:17] bjendres commented on #626
Again, it looks like your problem is coming from ``org.project60.sepapp-master/sepapp.civix.php``, which is [THIS](https://github.com/Project60/org.project60.sepapp) extension. If you update to latest ``master`` of *that* extension, the error should go away. If not, please open a ticket there.

[2022-02-14 10:17] #626 closed

[2022-02-14 10:31] bjendres commented on #620
@jojowork Do you need this to be part of ``1.6``? If so, please create a PR asap.

[2022-02-14 10:46] bjendres commented on #619
You can implement such an algorithm using the ``civicrm_defer_collection_date`` hook, see [HERE](https://github.com/Project60/org.project60.sepa/blob/1.6-alpha2/org.project60.sepacustom/sepacustom.php#L131-L146).

That being said, it would be nice to have a reference implementation with configuration options for what you're describing, so anyone can use it. However, I would place this rather in a

[2022-02-14 10:58] bjendres opened #627 "Offer two versions of format ``pain_008_001_02_OTHERID``"
Offer two versions of format ``pain_008_001_02_OTHERID``, one with and one without ``Nm`` tag. See #589, #624 and #623.

[2022-02-14 11:00] bjendres commented on #623
Closed in favour of #627.

[2022-02-14 11:01] #602 closed

[2022-02-14 11:03] bjendres commented on #601
@masetto Did you ever manage to create this file format in CiviSEPA? If so, could you create a PR with this? Other people might want to use that, too...

[2022-02-14 11:14] bjendres commented on #578
There is a couple of scenarios where this can go wrong, but it might have gotten better - @MarcMichalsky could you check again with the upcoming ``1.6``?

We didn't focus on this, because
- it's not used for any internal calculations.
- it's speculative anyway, because if you forget to upload the file in time, it's wrong.

@MarcMichalsky would you still like to follow up on this?

[2022-02-14 11:14] bjendres commented on #579
@sluc23 should I close this? How did you deal with this in the end?

[2022-02-14 11:19] sluc23 commented on #579
yes, closing.. don't really remember what happened :P !

[2022-02-14 11:19] #579 closed

[2022-02-14 11:20] MarcMichalsky commented on #578
I will check it and report the result here.

[2022-02-14 14:38] Detsieber commented on #623
I reopened that one.
Again: The sfirm software, which is used a reference by the Sparkasse group, explicitely says that this Nm-tag is illegal!

Apart of that, to give the big picture: Currently, not any sepa template is delivered with CiviSEPA that allows working without BIC's! And, getting rid of BIC's (which shouldn't be used anymore at all for years and which are only kept for backward compati

[2022-02-14 16:59] mlutfy commented on #519
Translations are here : https://www.transifex.com/civicrm/civicrm_extensions/sepa/

Note that there is an older CiviSepa on Transifex, which will be deleted.

[2022-02-15 13:25] bjendres commented on #623
Well, according to @tttp the xsd says there *can* be a ``Nm`` tag. But in any case it's a better idea to introduce such a change with a new format (#627) so we don't silently break stuff for people happily using the current format.

@Detsieber All you would have to do is to switch to the other format for your creditors after the upgrade to 1.6.

Strictly speaking, ``pain_008_001_02_CH_03`` does th

[2022-02-15 14:02] bjendres commented on #627
I have created (and attached) ``1.6-dev+42abf3e27`` (attached) with a the new format ``pain.008.001.02 without BIC and Debitor Name``.

@Detsieber please test and confirm that it works as soon as possible, I'd like to get ``1.6`` out as soon as possible.

[org.project60.sepa-1.6-dev+42abf3e27.tar.gz](https://github.com/Project60/org.project60.sepa/files/8069689/org.project60.sepa-1.6-dev%2B42abf3e

[2022-02-15 18:20] Detsieber commented on #627
Hi Björn,

the change you made within
pain_008_001_02_NODBTRNM/transaction-details.tpl  is not working!!

The change I proposed to pain_008_001_02_OTHERID/transaction-details.tpl
was simply, to remove line 32.

Instead you removed a totally differen Nm-Tag in line 64...

Could you please update that?

Best
Detlev

[2022-02-16 08:48] bjendres commented on #627
I've changed that, and created ``org.project60.sepa-1.6-dev+6c99ef9d45`` (attached). Please test.
[org.project60.sepa-1.6-dev+6c99ef9d45.tar.gz](https://github.com/Project60/org.project60.sepa/files/8078231/org.project60.sepa-1.6-dev%2B6c99ef9d45.tar.gz).

[2022-02-16 08:49] bjendres commented on #627
You might have to update the file format for your creditor again.

[2022-02-16 08:53] bjendres commented on #627
I'm actually going to rename this to "pain.008.001.02 without BIC and CdtrSchmId:Nm"

[2022-02-16 14:42] bjendres commented on #627
Great, thanks. Will be released with ``1.6``

[2022-02-25 14:18] masetto commented on #601
:+1: @bjendres, I will continue this shortly

[2022-03-01 09:50] #619 closed

[2022-03-01 09:51] #613 closed

[2022-03-01 09:51] #615 closed

[2022-03-01 09:51] #616 closed

[2022-03-01 09:51] #617 closed

[2022-03-01 09:51] #618 closed

[2022-03-01 09:52] #625 closed

[2022-03-01 09:52] #627 closed

[2022-03-01 09:54] #585 closed

[2022-03-01 09:54] #590 closed

[2022-03-01 09:54] #600 closed

[2022-03-01 09:54] #607 closed

[2022-03-01 09:54] #572 closed

[2022-03-01 10:00] #502 closed, assigned to nobody

[2022-03-01 10:06] bjendres commented on #317
This was fixed with #616 / #615

[2022-03-01 10:06] #317 closed

[2022-03-14 11:51] Detsieber opened #628 "civicrm_financial_trxn.from_financial_account_id is not properly filled"
CiviSEPA creates a transaction record, when the contribution is marked as "completed".

However, this transaction record currently refers to the wrong financial account id: Instead of the "revenue" account, the "accounts receivable" account linked to the financial type is used.

As a workaround, I always created additional "accounts receivable" accounts for each financial type. However this is not

[2022-03-14 12:25] bjendres commented on #628
Hm, as far as I remember, CiviSEPA only uses the ``Contribution`` layer (via API) *above* the financial transactions. Are you sure this problem isn't coming from a payment processor, another module, or a configuration issue?

[2022-03-29 09:49] Matt5K opened #629 "Self-Healing Mandates (After update to 1.6 recurring contributions are created with wrong payment_instrument_id and other issues)"
After an update to version 1.6 each time recurring contributions are updated via the dashboard new contributions are created for recurring mandates even if there is a contribution for the current period. All these contributions have the payment_instrument_id set for the first recurring payment.

[2022-03-29 09:52] bjendres commented on #629
Thanks @Matt5K, we've just noticed that as well and are looking into this.

[2022-03-30 08:54] masetto commented on #601
@bjendres can you give me some instructions for transferring sepa mandates to CiviCRM. What are the steps to be taken?
Thank you

[2022-03-30 10:21] masetto commented on #584
@bjendres for this query (file ):
[code]
there is no aggregate field.
Do you expect each mandate to have more recurrent contributions? If so, maybe there is something wrong with the logic....

Do I add each field in the group by (makes no sense to me) or do I use the min function? and for which fields?

[2022-03-30 13:57] bjendres commented on #629
I'm assuming that this might have to do with slightly incorrect mandates / recurring contributions created by payment processors. Does that make sense?

I have added a "self-healing" feature to CiviSEPA that is executed when batching (attached). Feel free to test, but please make a backup or use a test environment. It would also make sense to clean up open groups and delete old, orphaned pending C

[2022-03-30 14:41] bjendres commented on #584
As I said above, I wouldn't want to touch those as long as it works. The idea would be to wrap those in ``CRM_Utils_SQL::disableFullGroupByMode()`` directives like [HERE](https://github.com/systopia/de.systopia.donrec/blob/09bd2a65ae85b0f764087ccc1bfebae84d849062/CRM/Donrec/Logic/Receipt.php#L558-L560), so it doesn't cause any trouble. I'd be happy to accept PRs for that.

But If you really want t

[2022-03-31 09:40] bjendres commented on #629
@Detsieber thanks for the feedback. Have you tested the "self-healing" version mentioned above? Could you give some feedback on that?

[2022-03-31 11:36] Detsieber commented on #629
@bjendres yes, I was testing with the "self healing" version you provided!

[2022-03-31 14:01] bjendres commented on #629
Sounds like we'll have to add another algorithm to the "self healing" process.

[2022-04-01 08:12] bjendres opened #630 "CiviSEPA 1.6.0 might crash with payment processors"
It looks like there is an issue with the consolidation of the SEPA entity names. In combination with ``org.project60.sepapp`` the following error can be observed (with a :
[code]
The origin of is an early ``SepaCreditor.get`` call than cannot find the corresponding BAO of the ``SepaCreditor`` entity.

Since this has worked well in all other test scenarios, I'm assuming at this point that the call

[2022-04-01 08:20] bjendres commented on #630
I have provided a quick fix for this, but it should be investigated if the early call in ``org.project60.sepapp`` should be delayed.

[2022-04-01 08:28] bjendres commented on #629
@Detsieber The "self-healing" is currently only triggered when batching. So the idea would be to delete all open groups along with the contributions and then run the batching. Have you done that? If your problem still remains, could provide some data sample or access to your DB to see what exactly is wrong?

[2022-04-05 14:05] bjendres opened #631 "Warn if SEPA payment instruments are disabled"
Currently, if you disable some or all SEPA payment instruments, the CiviSEPA system starts doing weird things. For example, the "create mandate" dialogue doesn't work any more.

It would be good to add a warning, at least to the CiviSEPA configuration UI.

[2022-04-06 08:28] bjendres commented on #629
I've added another self-healing processor with the attached version. If that doesn't fix your issue, I would have to have a closer look at your system.

[org.project60.sepa-1.6.0+3391594c10.tar.gz](https://github.com/Project60/org.project60.sepa/files/8425058/org.project60.sepa-1.6.0%2B3391594c10.tar.gz)
.

[2022-04-19 07:46] bjendres opened #632 "CiviSEPA incompatible with new future CiviCRM versions?"
@eileenmcnaughton writes in her dev digest:

This would, however, clash with CiviSEPA's status model, where a SEPA contribution is in status ``in Progress`` when submitted to the bank, and will change to status ``Completed`` (or possibly ``Cancelled``) only when we get the confirmation from the bank that it's been collected - which can be an arbitrary time period later.

@eileenmcnaughton Could yo

[2022-04-19 08:09] eileenmcnaughton commented on #632
@bjendres - yep - the function `CRM_Core_BAO_OptionValue::ensureOptionValueExists` is not officially supported for use outside core - but it is unlikely to ever change..... & it does what it says.

Also note that there is no current plan to remove the statuses proactively - but at some point we might encourage people to disable or delete them if they don't use them (e.g a system check or upgrade m

[2022-05-03 08:23] eptbertram commented on #584
Disabling SQL_mode only_full_group_by solved my problem. A solution would be awesome.

[2022-05-10 09:22] bjendres opened #634 "PSA: Duplicate Collection Issues with CiviSEPA 1.6.0"
## What's the problem?

With the rollout of CiviSEPA ``1.6.0`` we have been getting reports from a limited number of users where the same installment of a recurring SEPA mandate is being *collected multiple times*.

This happens when the transaction group with the first regular collection is closed. If you then refresh/rebuild the collection groups, you might generate  *another* collection for the

[2022-05-24 13:06] mariav0 opened #635 "Tab "SEPA Mandate" shows when no permission is given"
I have noticed that the Tab "SEPA Mandate" including all information is shown for users who do/should not have this permission.
Tested on CiviCRM 5.47.4 and earlier versions.
SEPA v. 1.6.0

[2022-05-25 13:51] Detsieber commented on #634
After some intensive testing and clarifying in different productive environments I can say: The issue of duplicate collections is happening only, when the "update recurring" button is pressed during the timeframe of "recurring grace". However, after applying the "self healing" algorithm, this won't happen anymore! This is very good, and please release this as a new release, @bjendres !

On the oth

[2022-06-07 08:12] #629 closed

[2022-06-07 08:12] bjendres commented on #629
released with ``1.6.1``

[2022-06-07 08:12] bjendres commented on #630
released with ``1.6.1``

[2022-06-07 08:12] #630 closed

[2022-06-07 08:13] bjendres commented on #620
released with ``1.6.1``

[2022-06-07 08:13] #620 closed

[2022-06-07 08:15] bjendres commented on #634
Self-healing (#572) released with ``1.6.1``, and will of course also be present in ``1.7.x``

I'll leave the ticket open to direct people to the right version.

[2022-06-12 18:58] eptbertram opened #636 "Searching contacts with bank account"
I thought this would be easy, but I can't build a search for all contacts with bank accounts in my CRM. I tried search-generator and search-kit, but there is no bank account / bank / IBAN entity nor field.

CiviSEPA does a lookup for bank accounts (e.g. when creating a new mandate). Why can't I do this within a contact search? btw: searching SEPA-mandates is working fine, but my aim is to search c

[2022-06-12 19:15] bjendres commented on #636
I'm not quite sure I understand what you want to do, but wouldn't the CiviSEPA Reports help?

[2022-06-12 19:25] eptbertram commented on #636
Hej @bjendres thanx for your fast reply. No, CiviSEPA won't help here.

I have ~90 bank accounts imported from CiviBanking in my CRM, but only 10 SEPA-mandates in this CRM. Aim: search these missing 80 contacts and ask them for a SEPA-mandate.

[2022-06-15 14:01] mariav0 opened #637 "Activity date of contribution is overwritten by SEPA processing"
We have noticed that the existing activity date of a contribution will be overwritten after the contribution is set to Completed (after SEPA processing).
Has this been changed on purpose?
Now you can only find out in the SEPA mandate information when the contribution was made. But it can't be used in a report anymore.
This report is used to see when there are any new contributions. After the contr

[2022-06-20 09:36] jensschuppe commented on #636
There is a bank account search in CiviBanking (`civicrm/banking/search`) which you can feed a `%` wildcard as part of the account number to find all bank accounts recorded by CiviBanking. Unfortunately, this is not yet included in a contact search.

Since bank accounts and bank account references are CiviCRM entities, they could be made available through APIv4 which would allow for configuring sea

[2022-06-22 10:58] mariav0 commented on #637
Workaround: Creating an own Data Processor Reports solves the problem. The date when the activity was created stays the same while the activity date itself will be overwritten. Unfortunately, the creation date cannot be accessed via CiviReport.
The issue can also be closed if it is not or could not be interesting for anyone else.

[2022-07-04 12:47] bjendres commented on #636
Can we close here, @eptbertram?

[2022-07-04 12:56] bjendres commented on #637
How are you completing the contributions? Is this the "mark received" button, oder via the CiviBanking module? If it's the latter case, than this is by design.

[2022-07-04 14:33] eptbertram commented on #636
Yes, thank you both!

[2022-07-04 14:33] #636 closed

[2022-07-18 09:56] mariav0 commented on #637
Hi Björn,
it's completed by the "mark received" button. CiviBanking is not in place.

[2022-07-18 12:36] tobiberlin opened #638 "Some "User deprecated function" errors like: CRM_Sepa_DAO_SEPACreditor needs to be regenerated. Missing getEntityTitle method"
I wrote a custom script which receives the submissions from a donation form (webform) of a seperated Drupal project and stores the data in our CiviCRM installation. The script creates a contact if none exists and then it created the SEPA mandate. Whenever the contact is saved I get the above error message. I think this issue appeared just after I updated to the current master version. Some other w

[2022-07-19 20:30] bjendres commented on #637
By "activity date" do you mean the date of the complimentary CiviCRM *activity*, right?

In any case, CiviSEPA should only do [this](https://github.com/Project60/org.project60.sepa/blob/1.6.1/CRM/Sepa/Logic/Group.php#L215-L219) update. If this has any (new) knock-on effects on the activity, all we could do is add mitigation code to undo this.

[2022-07-20 06:15] tobiberlin commented on #638
CiviCRM 5.50.2, SEPA 1.7-dev

[2022-07-21 14:08] Detsieber opened #639 "PAIN format "pain.008.001.02 without BIC and CdtrSchmId:Nm" doesn't work for Switzerland"
SEPA is supporting direct debits from debitor accounts in Switzerland. However, in these cases, other than in any other country, the postal address of the debitor has to be added.

This was already implemented in "pain.008.003.02 (EBICS-3.0 RCUR/CH)".

Therefore, in "pain.008.001.02 without BIC and CdtrSchmId:Nm", directly after

`          <Nm>{$contribution.display_name}</Nm>`

the following cod

[2022-07-21 14:23] bjendres commented on #639
But I understand that you want a mixed mode format, which we have tried to avoid. Our approach was mostly to have different creditors for Swiss people, and/or generally people from abroad.

[2022-07-21 14:26] Detsieber commented on #639
In all use cases I can imagine, we won't have different contribution pages for people from Switzerland. Therefore, all SEPA mandates have to be processed by the same sepa creditor, using the same PAIN format.

I don't see any reason why we shouldn't do so?

[2022-07-21 14:29] bjendres commented on #639
One of the reasons we wanted to separate, is that you then have to force *all* donors to give an address, even though it's just needed for the swiss donors.

[2022-07-21 14:30] bjendres commented on #639
...and I'm not sure that your mixed file would be valid XML, but I might be wrong....

[2022-07-21 14:42] Detsieber commented on #639
The address will be generated only, if $contribution.ctry eq 'CH'.

Anyhow, I just patched the affected production system, and we will see...

[2022-07-25 06:53] bastienho opened #640 "PHP Fatal error on PDF mandates using $mandate_creditor var"
When I use a custom template with values from th `$mandate_creditor` variables, I get a fatal error.

[code]

As all other assigned variables are type, I think it's [just stuff that got left](https://github.com/Project60/org.project60.sepa/blob/master/CRM/Sepa/Page/SepaMandatePdf.php#L126).

[2022-08-19 09:04] bjendres opened #642 "Add more warnings"
We should add more warnings for when people are doing ill-advised stuff:
- deleting creditors with mandates
- deleting creditors with _active_ mandates (strong-worded)
- probably more to come

[2022-08-19 10:18] bjendres commented on #638
@tobiberlin could you try again with ``master``?

[2022-08-19 10:19] bjendres commented on #638
...in a test environment, obviously

[2022-08-22 11:30] tobiberlin commented on #638
The above warnings not appear anymore with the new dev version (master branch).

As with the changes in the dev version of this extension some new problems appear I write it down here... if it's better for you I can open a new issue;

Now I've got another problem: with my code the Sepa mandate is not created anymore. I get some confusing error messages. First is:

`Warning: Undefined array key "cr

[2022-08-22 20:20] bjendres commented on #638
Are you sure you have configured a (non-test) creditor, and set it as default creditor?

[2022-08-23 05:26] tobiberlin commented on #638
oh, I'm sorry... we currently implement your SEPA extension in our dev environment... after re-importing the production database into my local database I forgot to create the creditor but tested with the dev code. I did not test it yet but this should be the problem for sure. Thank you.

[2022-08-23 06:27] bjendres commented on #638
Great.

@tobiberlin Maybe you could create a new ticket proposing to provide a proper error message, pointing  people this problem.

[2022-08-23 06:27] #638 closed

[2022-08-23 08:03] tobiberlin opened #643 "Implement proper error message when no default creditor is set"
Follow up ticket for #638

When a new SEPA mandate is created but there is no default creditor set for the project there is no proper message what causes the process to fail.

For example:

[code]

leads under these circumstances to a PHP warning in logs:

`Warning: Undefined array key "creditor_id" in civicrm_api3_sepa_mandate_createfull() (line 81 of sites\default\files\civicrm\ext\org.project60

[2022-08-29 12:34] bjendres opened #644 "Add a tutorial"
CiviSEPA is a complex extension, and should get a brief on-screen tutorial. See https://civicrm.org/extensions/civitutorial

[2022-08-29 12:36] bjendres commented on #601
You can use the APIv3 using the ``SepaMandate.createfull`` action.

Alternatively, you could use a formprocessor, CiviSEPA offers a couple of actions around SEPA mandates.

(Sorry for the late reply. )

[2022-08-29 12:36] #601 closed

[2022-08-29 12:51] bjendres commented on #584
@masetto's changes have been merged to ``master`` and will be released with ``1.7``. Thanks @masetto

[2022-08-29 12:51] #584 closed

[2022-08-30 09:32] bjendres opened #645 "PHP 8.0 Compatibility"

[2022-08-30 09:33] bjendres commented on #645
Ping @bbaermann

[2022-08-30 09:36] bjendres commented on #645
For CI to be working we need https://github.com/michaelmcandrew/civicrm-buildkit-docker/issues/71

[2022-08-30 10:00] bjendres opened #646 "Allow CI for different PHP versions"
Michael's docker container, which this CI is based on, needs to support different PHP versions, see https://github.com/michaelmcandrew/civicrm-buildkit-docker/issues/71.

When that's given, we can reconfigure the CI to run tests in PHP 7.4 and 8.0.

See also #645